Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add gnosisSafeTransactionServiceUrl for igra (#1414)
  .changeset/igra-safe-url.md
  chains/igra/metadata.yaml
Due: prettier --write, eslint --fix

fix(ci): enable inline PR review comments for claude review workflows
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): narrow allowed tools to gh api only
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): quote Bash tool pattern to preserve space in argument parsing
  .github/workflows/claude-code-review.yml
Due: none

feat: add warpRouteId to M0 Portal tokens
  deployments/warp_routes/USDSC/usdsc-config.yaml
  deployments/warp_routes/mUSD/musd-config.yaml
  deployments/warp_routes/wM/wrapped-m-config.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

fix(ci): use multiline YAML for claude_args to avoid quoting issues
  .github/workflows/claude-code-review.yml
Due: none

chore: add changeset for M0 warpRouteId additions
  .changeset/m0-warp-route-ids.md
Due: prettier --write

Remove eth-pokt.nodies.app Ethereum RPC URL
  chains/ethereum/metadata.yaml
Due: prettier --write, eslint --fix

feat: add warpRouteId to M0 Portal tokens for disambiguation (#1416)
  .changeset/m0-warp-route-ids.md
  deployments/warp_routes/USDSC/usdsc-config.yaml
  deployments/warp_routes/mUSD/musd-config.yaml
  deployments/warp_routes/wM/wrapped-m-config.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

feat: add denylist entry schema and exports
  .changeset/quiet-pandas-tease.md
  src/index.ts
  src/types.ts
Due: prettier --write

fix(ci): enable inline PR review comments for claude review workflows (#1415)
  .github/workflows/claude-code-review.yml
Due: none

chore: transfer ownership of the solana leg for the dime token + update meta
  deployments/warp_routes/DIME/metadata.json
  deployments/warp_routes/DIME/paradex-deploy.yaml
Due: prettier --write, eslint --fix

feat: tron mainnet
  .changeset/smooth-ties-accept.md
  chains/metadata.yaml
  chains/tron/logo.svg
  chains/tron/metadata.yaml
Due: prettier --write, eslint --fix

deploy factories
  chains/tron/addresses.yaml
Due: prettier --write, eslint --fix

core
  chains/tron/addresses.yaml
Due: prettier --write, eslint --fix

ica deploy
  chains/tron/addresses.yaml
Due: prettier --write, eslint --fix

build
  chains/addresses.yaml
Due: prettier --write, eslint --fix

add igra ica router
  chains/igra/addresses.yaml
Due: prettier --write, eslint --fix

Add cross-collateral deploy and config artifacts
  deployments/warp_routes/CROSS/crosscollateral-config.yaml
  deployments/warp_routes/PYUSD/crosscollateral-config.yaml
  deployments/warp_routes/PYUSD/crosscollateral-deploy.yaml
  deployments/warp_routes/PYUSD/crosscollateral-oft/config.yaml
  deployments/warp_routes/USDC/crosscollateral-config.yaml
  deployments/warp_routes/USDC/crosscollateral-deploy.yaml
  deployments/warp_routes/USDT/crosscollateral-config.yaml
  deployments/warp_routes/USDT/crosscollateral-deploy.yaml
  deployments/warp_routes/USDT/crosscollateral-oft/config.yaml
Due: prettier --write, eslint --fix

cosmetic changes
  chains/metadata.yaml
  chains/tron/metadata.yaml
Due: prettier --write, eslint --fix

deploy igra ica
  chains/addresses.yaml
  chains/igra/addresses.yaml
Due: prettier --write, eslint --fix

feat(waro-routes): added solana to paradex dime warp route
  .changeset/itchy-beers-lay.md
  deployments/warp_routes/DIME/paradex-config.yaml
Due: prettier --write, eslint --fix

chore: add missing logo fields to dime config
  deployments/warp_routes/DIME/paradex-config.yaml
Due: prettier --write, eslint --fix

fix: missing logo uri on hyperevm leg for dime
  deployments/warp_routes/DIME/paradex-config.yaml
Due: prettier --write, eslint --fix

feat(warp-routes): added solana to paradex dime warp route (#1422)
  .changeset/itchy-beers-lay.md
  deployments/warp_routes/DIME/paradex-config.yaml
Due: prettier --write, eslint --fix

fix(ci): use GHCR monorepo image for check-warp-deploy
  scripts/check-warp-deploy.sh
Due: none

feat: tron mainnet (#1421)
  .changeset/smooth-ties-accept.md
  chains/addresses.yaml
  chains/igra/addresses.yaml
  chains/metadata.yaml
  chains/tron/addresses.yaml
  chains/tron/logo.svg
  chains/tron/metadata.yaml
Due: prettier --write, eslint --fix

Add changeset for GHCR image switch
  .changeset/ghcr-monorepo-image.md
Due: prettier --write

fix(ci): use GHCR monorepo image for check-warp-deploy (#1423)
  .changeset/ghcr-monorepo-image.md
  scripts/check-warp-deploy.sh
Due: prettier --write

feat: migrate tron/tronshasta metadata from gRPC to HTTP REST API
  .changeset/tron-http-migration.md
  chains/tron/metadata.yaml
  chains/tronshasta/metadata.yaml
Due: prettier --write, eslint --fix

feat: use walletUrls/walletSolidityUrls instead of restUrls for tron
  .changeset/tron-http-migration.md
  chains/tron/metadata.yaml
  chains/tronshasta/metadata.yaml
Due: prettier --write, eslint --fix

feat: migrate tron/tronshasta from gRPC to HTTP REST API (#1424)
  .changeset/tron-http-migration.md
  chains/tron/metadata.yaml
  chains/tronshasta/metadata.yaml
Due: prettier --write, eslint --fix

feat: add eUSD/celestia and eUSD/eden deployment artifacts (#1398)
  .changeset/nervous-badgers-repeat.md
  deployments/warp_routes/eUSD/celestia-config.yaml
  deployments/warp_routes/eUSD/celestia-deploy.yaml
  deployments/warp_routes/eUSD/eden-config.yaml
  deployments/warp_routes/eUSD/eden-deploy.yaml
  deployments/warp_routes/eUSD/logo.svg
Due: prettier --write, eslint --fix

changeset
  .changeset/stale-pillows-cough.md
Due: prettier --write

update citrea
  chains/citrea/addresses.yaml
Due: prettier --write, eslint --fix

add cross ctusd route artifacts
  deployments/warp_routes/CROSS/ctusd-config.yaml
  deployments/warp_routes/USDC/ctusd-config.yaml
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-config.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

feat: add BNB/eni
  deployments/warp_routes/BNB/eni-config.yaml
  deployments/warp_routes/BNB/eni-deploy.yaml
Due: prettier --write, eslint --fix

feat: add BNB/eni
  .changeset/red-rockets-sort.md
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
