Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write", 
  "*.md": "prettier --write",
  "*.json": "prettier --write",
  "*.yaml": ["eslint --fix", "prettier --write"]
}

chore: Aleo USAD route (#1353)
  .changeset/chilly-poems-grin.md
  deployments/warp_routes/USAD/aleo-config.yaml
  deployments/warp_routes/USAD/aleo-deploy.yaml
  deployments/warp_routes/USAD/aleotestnet-config.yaml
  deployments/warp_routes/USAD/logo.svg
Due: prettier --write, eslint --fix

chore: remove comments
  deployments/warp_routes/ROAM/eni-deploy.yaml
Due: prettier --write, eslint --fix

chore: remove isNft field
  deployments/warp_routes/ROAM/eni-deploy.yaml
Due: prettier --write, eslint --fix

feat: add ROAM/eni route artifacts (#1379)
  .changeset/tall-yaks-pay.md
  deployments/warp_routes/ROAM/eni-config.yaml
  deployments/warp_routes/ROAM/eni-deploy.yaml
  deployments/warp_routes/ROAM/logo.svg
Due: prettier --write, eslint --fix

chore: update logo for ROAM to be more compact
  deployments/warp_routes/ROAM/logo.svg
Due: none

chore: add changeset
  .changeset/rich-olives-join.md
Due: prettier --write

chore: update logo for ROAM to be more compact (#1381)
  .changeset/rich-olives-join.md
  deployments/warp_routes/ROAM/logo.svg
Due: prettier --write

Update owner and proxyAdmin.owner for op, base, arb with ICAs and awSafes
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

add overOverride.proxyAdmin with awSafes
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Update inEVM ISM on Ethereum for USDC/USDT warp routes (#1338)
  .changeset/bright-foxes-glow.md
  deployments/warp_routes/USDC/ethereum-inevm-deploy.yaml
  deployments/warp_routes/USDT/ethereum-inevm-deploy.yaml
Due: prettier --write, eslint --fix

Extend USDCSTAGE config
  deployments/warp_routes/USDCSTAGE/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

Revert USDC config to origin/main
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

Update Claude model from opus 4.5 to opus 4.6
  .github/workflows/claude-code-review.yml
Due: none

Make Claude model IDs configurable via env vars
  .changeset/update-claude-opus-model.md
  .github/workflows/claude-code-review.yml
Due: prettier --write

chore(ci): update Claude model to opus 4.6 (#1382)
  .changeset/update-claude-opus-model.md
  .github/workflows/claude-code-review.yml
Due: prettier --write

Update warp config with the latest deployment
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

feat(ci): use skills for claude review workflows
  .changeset/inline-pr-comments-skill.md
  .claude/skills/claude-review/SKILL.md
  .claude/skills/inline-pr-comments/SKILL.md
  .github/workflows/claude-code-review.yml
  AGENTS.md
Due: prettier --write

feat(ci): use skills for claude review workflows (#1384)
  .changeset/inline-pr-comments-skill.md
  .claude/skills/claude-review/SKILL.md
  .claude/skills/inline-pr-comments/SKILL.md
  .github/workflows/claude-code-review.yml
  AGENTS.md
Due: prettier --write

Revert usdc config, update deploy config to include actual maxFee and halfAmounts
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

chore: enable modetestnet again
  chains/arbitrumsepolia/addresses.yaml
  chains/basesepolia/addresses.yaml
  chains/bsctestnet/addresses.yaml
  chains/celosepolia/addresses.yaml
  chains/cotitestnet/addresses.yaml
  chains/fuji/addresses.yaml
  chains/hyperliquidevmtestnet/addresses.yaml
  chains/incentivtestnet/addresses.yaml
  chains/modetestnet/addresses.yaml
  chains/modetestnet/metadata.yaml
  chains/optimismsepolia/addresses.yaml
  chains/polygonamoy/addresses.yaml
  chains/sepolia/addresses.yaml
Due: prettier --write, eslint --fix

chore: changeset
  .changeset/twelve-mails-melt.md
Due: prettier --write

chore: enable modetestnet again (#1385)
  .changeset/twelve-mails-melt.md
  chains/arbitrumsepolia/addresses.yaml
  chains/basesepolia/addresses.yaml
  chains/bsctestnet/addresses.yaml
  chains/celosepolia/addresses.yaml
  chains/cotitestnet/addresses.yaml
  chains/fuji/addresses.yaml
  chains/hyperliquidevmtestnet/addresses.yaml
  chains/incentivtestnet/addresses.yaml
  chains/modetestnet/addresses.yaml
  chains/modetestnet/metadata.yaml
  chains/optimismsepolia/addresses.yaml
  chains/polygonamoy/addresses.yaml
  chains/sepolia/addresses.yaml
Due: prettier --write, eslint --fix

chore: update coingecko ids for Aleo routes
  deployments/warp_routes/ETH/aleo-config.yaml
  deployments/warp_routes/SOL/aleo-config.yaml
  deployments/warp_routes/USAD/aleo-config.yaml
Due: prettier --write, eslint --fix

fix: re-enroll Solana leg for ALEO/aleo & USDC/aleo connections entry (#1378)
  .changeset/calm-trainers-smile.md
  .changeset/spotty-beds-talk.md
  deployments/warp_routes/ALEO/aleo-config.yaml
  deployments/warp_routes/ALEO/aleo-deploy.yaml
  deployments/warp_routes/ETH/aleo-config.yaml
  deployments/warp_routes/SOL/aleo-config.yaml
  deployments/warp_routes/USAD/aleo-config.yaml
  deployments/warp_routes/USDC/aleo-config.yaml
Due: prettier --write, eslint --fix

Update according to config generator modified to serialize bigint
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Update with latesrt deployment
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

chore: update and extend the viction route (#1369)
  .changeset/update-viction-route.md
  deployments/warp_routes/ETH/ethereum-viction-config.yaml
  deployments/warp_routes/ETH/ethereum-viction-deploy.yaml
  deployments/warp_routes/ETH/viction-config.yaml
  deployments/warp_routes/ETH/viction-deploy.yaml
Due: prettier --write, eslint --fix

feat: add ETH/paradex & ETH/paradexsepolia warp route
  .changeset/strange-pianos-develop.md
  deployments/warp_routes/ETH/paradex-config.yaml
  deployments/warp_routes/ETH/paradex-deploy.yaml
  deployments/warp_routes/ETH/paradexsepolia-config.yaml
  deployments/warp_routes/ETH/paradexsepolia-deploy.yaml
Due: prettier --write, eslint --fix

fix: formatting
  deployments/warp_routes/ETH/paradex-deploy.yaml
  deployments/warp_routes/ETH/paradexsepolia-config.yaml
Due: prettier --write, eslint --fix

fix: use StarknetHypCollateral
  deployments/warp_routes/ETH/paradexsepolia-config.yaml
Due: prettier --write, eslint --fix

feat: add SOL warp routes for Solana-Celestia and Celestia-Eden
  deployments/warp_routes/SOL/celestia-config.yaml
  deployments/warp_routes/SOL/celestia-deploy.yaml
  deployments/warp_routes/SOL/eden-config.yaml
  deployments/warp_routes/SOL/eden-deploy.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/tall-jobs-tan.md
Due: prettier --write

feat: add ETH/celestia and ETH/eden route
  deployments/warp_routes/ETH/celestia-config.yaml
  deployments/warp_routes/ETH/celestia-deploy.yaml
  deployments/warp_routes/ETH/eden-config.yaml
  deployments/warp_routes/ETH/eden-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/clever-fishes-ring.md
Due: prettier --write

chore: update deploy
  deployments/warp_routes/ETH/celestia-deploy.yaml
Due: prettier --write, eslint --fix

feat(warp-routes): deployed eth -> celestia -> eden btc warp route
  deployments/warp_routes/WBTC/celestia-config.yaml
  deployments/warp_routes/WBTC/celestia-deploy.yaml
  deployments/warp_routes/WBTC/eden-config.yaml
  deployments/warp_routes/WBTC/eden-deploy.yaml
Due: prettier --write, eslint --fix

chore: enable flowmainnet routes
  .changeset/clever-pears-visit.md
  deployments/warp_routes/TRUMP/arbitrum-avalanche-base-flowmainnet-form-optimism-solanamainnet-worldchain-config.yaml
Due: prettier --write, eslint --fix

chore: re-enable somniatestnet
  .changeset/light-peas-relax.md
  chains/somniatestnet/metadata.yaml
Due: prettier --write, eslint --fix

re-enroll somniatestnet
  chains/arbitrumsepolia/addresses.yaml
  chains/basesepolia/addresses.yaml
  chains/bsctestnet/addresses.yaml
  chains/celosepolia/addresses.yaml
  chains/cotitestnet/addresses.yaml
  chains/fuji/addresses.yaml
  chains/hyperliquidevmtestnet/addresses.yaml
  chains/incentivtestnet/addresses.yaml
  chains/modetestnet/addresses.yaml
  chains/optimismsepolia/addresses.yaml
  chains/polygonamoy/addresses.yaml
  chains/sepolia/addresses.yaml
  chains/somniatestnet/addresses.yaml
Due: prettier --write, eslint --fix

chore: re-enroll somniatestnet (#1393)
  .changeset/light-peas-relax.md
  chains/arbitrumsepolia/addresses.yaml
  chains/basesepolia/addresses.yaml
  chains/bsctestnet/addresses.yaml
  chains/celosepolia/addresses.yaml
  chains/cotitestnet/addresses.yaml
  chains/fuji/addresses.yaml
  chains/hyperliquidevmtestnet/addresses.yaml
  chains/incentivtestnet/addresses.yaml
  chains/modetestnet/addresses.yaml
  chains/optimismsepolia/addresses.yaml
  chains/polygonamoy/addresses.yaml
  chains/sepolia/addresses.yaml
  chains/somniatestnet/addresses.yaml
  chains/somniatestnet/metadata.yaml
Due: prettier --write, eslint --fix
