Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write", 
  "*.md": "prettier --write",
  "*.json": "prettier --write",
  "*.yaml": ["eslint --fix", "prettier --write"]
}

feat: add BNB/eni (#1427)
  .changeset/red-rockets-sort.md
  deployments/warp_routes/BNB/eni-config.yaml
  deployments/warp_routes/BNB/eni-deploy.yaml
Due: prettier --write, eslint --fix

Upgrade registry to TypeScript 6
  .changeset/tasty-bobcats-serve.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: reduce warp route fees to 1.5 bps for Eclipse USDC and Viction ETH
  deployments/warp_routes/ETH/viction-deploy.yaml
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

feat: upgrade to TypeScript 6 (#1428)
  .changeset/tasty-bobcats-serve.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Update arbitrumnova block explorer to Blockscout
  .changeset/brave-foxes-glow.md
  chains/arbitrumnova/metadata.yaml
Due: prettier --write, eslint --fix

chore: update arbitrumnova block explorer to Blockscout (#1430)
  .changeset/brave-foxes-glow.md
  chains/arbitrumnova/metadata.yaml
Due: prettier --write, eslint --fix

chore(registry): remove foreignDeployment from USDC ctusd deploy
  deployments/warp_routes/USDC/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

Use ccrfFeeContracts in ctusd deploy configs
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

feat: extend USDTSTAGE route to Tron and plasma
  deployments/warp_routes/USDTSTAGE/mode-config.yaml
  deployments/warp_routes/USDTSTAGE/mode-deploy.yaml
Due: prettier --write, eslint --fix

feat: add QuotedCalls contract addresses
  chains/arbitrum/addresses.yaml
  chains/avalanche/addresses.yaml
  chains/base/addresses.yaml
  chains/ethereum/addresses.yaml
  chains/hyperevm/addresses.yaml
  chains/ink/addresses.yaml
  chains/linea/addresses.yaml
  chains/monad/addresses.yaml
  chains/optimism/addresses.yaml
  chains/unichain/addresses.yaml
  deployments/warp_routes/USDC/quoted-calls-demo-deploy.yaml
Due: prettier --write, eslint --fix

Add deploy artifacts
  deployments/warp_routes/USDC/quoted-calls-demo-config.yaml
Due: prettier --write, eslint --fix

Regenerate combined files with quotedCalls addresses
  chains/addresses.yaml
  deployments/warp_routes/schema.json
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

fix: align release pipeline with monorepo pattern
  .github/workflows/release.yml
Due: none

feat: add beta release support via workflow_dispatch
  .github/workflows/release.yml
Due: none

fix: add NODE_AUTH_TOKEN to publish-release step
  .github/workflows/release.yml
Due: none

revert: remove NODE_AUTH_TOKEN from workflow env
  .github/workflows/release.yml
Due: none

feat: add registry runtime subpaths
  .changeset/swift-bears-rush.md
  package.json
  src/runtime.ts
Due: prettier --write

refactor: dedupe runtime exports
  src/index.ts
Due: prettier --write

feat: added USDT/eclipse artifacts
  deployments/warp_routes/USDT/eclipse-config.yaml
  deployments/warp_routes/USDT/eclipse-deploy.yaml
  deployments/warp_routes/USDT/eclipsemainnet-ethereum-solanamainnet-config.yaml
  deployments/warp_routes/USDT/eclipsemainnet-ethereum-solanamainnet-deploy.yaml
Due: prettier --write, eslint --fix

fix(registry): update ctusd deploy fee configs
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

Add CTUSD config
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

Add citrea quotedCalls address to combined addresses file
  chains/addresses.yaml
  chains/citrea/addresses.yaml
Due: prettier --write, eslint --fix

feat: add RISE/rise warp rotue
  deployments/warp_routes/RISE/rise-config.yaml
  deployments/warp_routes/RISE/rise-deploy.yaml
Due: prettier --write, eslint --fix

feat: add 1Piece/eni deployment artifacts
  deployments/warp_routes/1Piece/eni-config.yaml
  deployments/warp_routes/1Piece/eni-deploy.yaml
  deployments/warp_routes/1Piece/logo.png
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/old-radios-behave.md
Due: prettier --write

chore: replace ESLint/Prettier with oxlint/oxfmt
  .changeset/oxlint-oxfmt.md
  .github/workflows/ci.yml
  .lintstagedrc
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/fs/FileSystemRegistry.ts
  src/fs/registry-utils.ts
  src/registry/BaseRegistry.ts
  src/registry/GithubRegistry.ts
  src/registry/HttpClientRegistry.ts
  src/registry/IRegistry.ts
  src/registry/MergedRegistry.ts
  src/registry/PartialRegistry.ts
  src/registry/warp-utils.ts
  src/utils.ts
Due: prettier --write, eslint --fix

fix: align release pipeline with monorepo pattern (#1433)
  .github/workflows/release.yml
Due: none

feat: ctusd fast paths from ethereum
  deployments/warp_routes/USDC/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

feat: ctusd fast paths from ethereum
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

feat: add 1Piece/eni deployment artifacts (#1437)
  .changeset/old-radios-behave.md
  deployments/warp_routes/1Piece/eni-config.yaml
  deployments/warp_routes/1Piece/eni-deploy.yaml
  deployments/warp_routes/1Piece/logo.png
Due: prettier --write, eslint --fix

chore: update tron explorer family
  .changeset/stale-berries-film.md
  chains/tron/metadata.yaml
  chains/tronshasta/metadata.yaml
Due: prettier --write, eslint --fix

fix: use aggregation isms as fallback
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

feat: added aggregation ism as fallback
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

chore: update tron explorer family (#1440)
  .changeset/stale-berries-film.md
  chains/tron/metadata.yaml
  chains/tronshasta/metadata.yaml
Due: prettier --write, eslint --fix

feat(warp-routes): extedended mantra usdc route to hyperevm
  .changeset/curly-parrots-fry.md
  deployments/warp_routes/USDC/mantra-config.yaml
  deployments/warp_routes/USDC/mantra-deploy.yaml
Due: prettier --write, eslint --fix

chore: replace ESLint/Prettier with oxlint/oxfmt (#1436)
  .changeset/oxlint-oxfmt.md
  .github/workflows/ci.yml
  .lintstagedrc
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/fs/FileSystemRegistry.ts
  src/fs/registry-utils.ts
  src/registry/BaseRegistry.ts
  src/registry/GithubRegistry.ts
  src/registry/HttpClientRegistry.ts
  src/registry/IRegistry.ts
  src/registry/MergedRegistry.ts
  src/registry/PartialRegistry.ts
  src/registry/warp-utils.ts
  src/utils.ts
Due: prettier --write, eslint --fix

fix(registry): align ctusd ccrf deploy config
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

chore: pnpm changeset
  .changeset/hot-clocks-love.md
Due: prettier --write

feat: extend USDC/paradex with hyperevm (#1321)
  .changeset/hot-clocks-love.md
  AGENTS.md
  CLAUDE.md
  deployments/warp_routes/USDC/paradex-config.yaml
  deployments/warp_routes/USDC/paradex-deploy.yaml
Due: prettier --write, eslint --fix
