Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add USDC/ethereum-lukso warp route
  .changeset/tough-meals-rhyme.md
  deployments/warp_routes/USDC/lukso-config.yaml
  deployments/warp_routes/USDC/lukso-deploy.yaml
Due: prettier --write, eslint --fix

feat: add USDC/ethereum-lukso warp route (#1371)
  .changeset/tough-meals-rhyme.md
  deployments/warp_routes/USDC/lukso-config.yaml
  deployments/warp_routes/USDC/lukso-deploy.yaml
Due: prettier --write, eslint --fix

chore: update owners and viction route
  deployments/warp_routes/ETH/viction-config.yaml
  deployments/warp_routes/ETH/viction-deploy.yaml
Due: prettier --write, eslint --fix

feat(http-client): implement warp route write methods (#1368)
  .changeset/http-registry-writes.md
  src/fs/FileSystemRegistry.ts
  src/index.ts
  src/registry/BaseRegistry.ts
  src/registry/GithubRegistry.ts
  src/registry/HttpClientRegistry.ts
  src/registry/IRegistry.ts
  src/registry/MergedRegistry.ts
  src/registry/PartialRegistry.ts
  src/registry/SynchronousRegistry.ts
  src/types.ts
Due: prettier --write

chore: explicit decimals in deploy
  deployments/warp_routes/ETH/viction-deploy.yaml
Due: prettier --write, eslint --fix

Update according to Getter
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Update such that some of the other new evm chains ahve rebalancing
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

chore: update LYX route with new configs
  .changeset/soft-zebras-prove.md
  deployments/warp_routes/LYX/lukso-deploy.yaml
Due: prettier --write, eslint --fix

fix: allow check-warp-deploy to run on fork PRs
  .github/workflows/check-warp-deploy.yaml
Due: prettier --write, eslint --fix

feat: write summary to GITHUB_STEP_SUMMARY for fork PRs
  scripts/check-warp-deploy.sh
Due: none

chore: add changeset
  .changeset/fork-pr-warp-check.md
Due: prettier --write

fix: allow check-warp-deploy to run on fork PRs (#1373)
  .changeset/fork-pr-warp-check.md
  .github/workflows/check-warp-deploy.yaml
  scripts/check-warp-deploy.sh
Due: prettier --write, eslint --fix

chore: update LYX route with new configs (#1372)
  .changeset/soft-zebras-prove.md
  deployments/warp_routes/LYX/lukso-deploy.yaml
Due: prettier --write, eslint --fix

feat(sUSD): add stableswap-pool-config.yaml with EvmHypStableSwap adapters
  deployments/warp_routes/USDC/stableswap-config.yaml
  deployments/warp_routes/USDC/stableswap-deploy.yaml
  deployments/warp_routes/USDH/stableswap-config.yaml
  deployments/warp_routes/USDH/stableswap-deploy.yaml
  deployments/warp_routes/USDSC/stableswap-config.yaml
  deployments/warp_routes/USDSC/stableswap-deploy.yaml
  deployments/warp_routes/USDT/stableswap-config.yaml
  deployments/warp_routes/USDT/stableswap-deploy.yaml
  deployments/warp_routes/mUSD/stableswap-config.yaml
  deployments/warp_routes/mUSD/stableswap-deploy.yaml
  deployments/warp_routes/mantraUSD/stableswap-config.yaml
  deployments/warp_routes/mantraUSD/stableswap-deploy.yaml
  deployments/warp_routes/sUSD/stableswap-config.yaml
  deployments/warp_routes/sUSD/stableswap-deploy.yaml
  deployments/warp_routes/sUSD/stableswap-pool-config.yaml
Due: prettier --write, eslint --fix

chore: regenerate warpRouteConfigs.yaml with stableswap routes
  deployments/warp_routes/schema.json
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

Add new chains to warp core, remove contract version from warp deploy
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Add AGENTS.md as duplicate of CLAUDE.md
  AGENTS.md
Due: prettier --write

Make AGENTS.md generic by removing Claude-specific references
  AGENTS.md
Due: prettier --write

Add code review section to AGENTS.md
  AGENTS.md
Due: prettier --write

Add changeset for AGENTS.md
  .changeset/add-agents-md.md
Due: prettier --write

Add AGENTS.md as duplicate of CLAUDE.md (#1376)
  .changeset/add-agents-md.md
  AGENTS.md
Due: prettier --write

chore: Transfer ownership to DEPLOYER for USDCSTAGE/eclipsemainnet + update mainnet v2 fast bridge)
  deployments/warp_routes/USDCSTAGE/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/kind-cherries-arrive.md
Due: prettier --write

chore: Transfer ownership to DEPLOYER for USDCSTAGE/eclipsemainnet + update mainnet v2 fast bridge) (#1377)
  .changeset/kind-cherries-arrive.md
  deployments/warp_routes/USDCSTAGE/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

chore: update changeset
  .changeset/update-viction-route.md
Due: prettier --write

chore: add comments
  deployments/warp_routes/ETH/viction-deploy.yaml
Due: prettier --write, eslint --fix

chore: re-enroll Solana leg for ALEO/aleo
  deployments/warp_routes/ALEO/aleo-config.yaml
  deployments/warp_routes/ALEO/aleo-deploy.yaml
Due: prettier --write, eslint --fix

chore: update owners for Aleo ETH testnet (#1359)
  deployments/warp_routes/ETH/aleotestnet-deploy.yaml
Due: prettier --write, eslint --fix

chore: update connections
  deployments/warp_routes/ALEO/aleo-config.yaml
Due: prettier --write, eslint --fix

Update config.proxyAdmin to use ownerOverrides.proxyAdmin instead
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Extend USDCSTAGE deploy
  deployments/warp_routes/USDCSTAGE/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

chore: remove commented owner
  deployments/warp_routes/ETH/viction-deploy.yaml
Due: prettier --write, eslint --fix

feat: add ROAM/eni route artifacts
  deployments/warp_routes/ROAM/eni-config.yaml
  deployments/warp_routes/ROAM/eni-deploy.yaml
  deployments/warp_routes/ROAM/logo.svg
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/tall-yaks-pay.md
Due: prettier --write

chore: use actual owners
  deployments/warp_routes/ROAM/eni-deploy.yaml
Due: prettier --write, eslint --fix

chore: small nits
  deployments/warp_routes/ETH/aleotestnet-config.yaml
Due: prettier --write, eslint --fix

chore: small nits
  .changeset/twenty-cups-dream.md
  deployments/warp_routes/ETH/aleotestnet-config.yaml
Due: prettier --write, eslint --fix

chore: changelog
  .changeset/spotty-beds-talk.md
Due: prettier --write

chore: add connections strings
  deployments/warp_routes/USAD/aleo-config.yaml
  deployments/warp_routes/USAD/aleotestnet-config.yaml
Due: prettier --write, eslint --fix

chore: add Aleo ETH testnet route and update route owners (#1358)
  .changeset/twenty-cups-dream.md
  deployments/warp_routes/ALEO/aleotestnet-deploy.yaml
  deployments/warp_routes/ETH/aleotestnet-config.yaml
  deployments/warp_routes/ETH/aleotestnet-deploy.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
