Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add CS
  .changeset/silver-impalas-train.md
Due: prettier --write

add ale
  deployments/warp_routes/ETH/ethereum-ale-config.yaml
  deployments/warp_routes/ETH/ethereum-ale-deploy.yaml
Due: prettier --write, eslint --fix

feat: extend `USDC/paradex` with hyperevm (#1302)
  .changeset/cool-ligers-arrive.md
  deployments/warp_routes/USDC/paradex-config.yaml
  deployments/warp_routes/USDC/paradex-deploy.yaml
Due: prettier --write, eslint --fix

feat: enable withdrawals from Krown warp routes
  .changeset/krown-enable-withdrawals.md
  deployments/warp_routes/ETH/krown-config.yaml
  deployments/warp_routes/USDC/krown-config.yaml
  deployments/warp_routes/USDT/krown-config.yaml
Due: prettier --write, eslint --fix

feat: enable withdrawals and transfer ownership for Krown warp routes (#1317)
  .changeset/krown-enable-withdrawals.md
  .changeset/krown-ownership-transfer.md
  deployments/warp_routes/ETH/krown-config.yaml
  deployments/warp_routes/ETH/krown-deploy.yaml
  deployments/warp_routes/USDC/krown-config.yaml
  deployments/warp_routes/USDC/krown-deploy.yaml
  deployments/warp_routes/USDT/krown-config.yaml
  deployments/warp_routes/USDT/krown-deploy.yaml
Due: prettier --write, eslint --fix

chore: update readme links (#1197)
  README.md
Due: prettier --write

Revert "feat: extend `USDC/paradex` with hyperevm (#1302)"
  .changeset/cool-ligers-arrive.md
  deployments/warp_routes/USDC/paradex-config.yaml
  deployments/warp_routes/USDC/paradex-deploy.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/weak-plums-kneel.md
Due: prettier --write

chore: promote base drpc as first
  chains/base/metadata.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/forty-cows-study.md
Due: prettier --write

revert: "feat: extend `USDC/paradex` with hyperevm" (#1318)
  .changeset/weak-plums-kneel.md
  deployments/warp_routes/USDC/paradex-config.yaml
  deployments/warp_routes/USDC/paradex-deploy.yaml
Due: prettier --write, eslint --fix

Update .changeset/forty-cows-study.md
  .changeset/forty-cows-study.md
Due: prettier --write

chore: promote base drpc as first one for base rpcUrls (#1319)
  .changeset/forty-cows-study.md
  chains/base/metadata.yaml
Due: prettier --write, eslint --fix

feat: add registry vs on-chain and config getter sync checks to CI
  .changeset/check-warp-deploy-ci.md
  scripts/check-warp-deploy.sh
Due: prettier --write

Import yamlEslintConfig
  .changeset/import-yaml-eslint-config.md
  eslint.config.js
Due: prettier --write

chore: Import yamlEslintConfig (#992)
  .changeset/import-yaml-eslint-config.md
  eslint.config.js
Due: prettier --write

Create metadata.yaml
  chains/turkchain/metadata.yaml
Due: prettier --write, eslint --fix

Add addresses.yaml with various contract addresses
  chains/turkchain/addresses.yaml
Due: prettier --write, eslint --fix

Add files via upload
  chains/turkchain/logo.svg
Due: none

rename core config file
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

extend to optimism, polygon, unichain + use cttp v2 bridges, remove cttp v1
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

arbitrum + base extention + ethereum version upgrade
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Add ethereum rebalancing config + add ethereum bridge to Arb,Base
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

update router and proxy admin ownership
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

manually add non-evm enrollements
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

enroll remote routers on eclipse + solana
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

upgrade ethereym router, redeploy arbitrum and base, add linear fee
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/tall-rings-explode.md
Due: prettier --write

add unichain connection to solana
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

arb + base extentiosn (missing enrollements to solana and eclipse)
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

configure a routing fee with linear fees for all EVM to EVM transfers
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

CR: andrey
  scripts/check-warp-deploy.sh
Due: none

CR: coderabit
  scripts/check-warp-deploy.sh
Due: none

fix: remove working directory override from export-warp-configs docker run
  scripts/check-warp-deploy.sh
Due: none

feat: add registry YAML vs on-chain check to CI (#1320)
  .changeset/check-warp-deploy-ci.md
  scripts/check-warp-deploy.sh
Due: prettier --write

Revert "revert: "feat: extend `USDC/paradex` with hyperevm" (#1318)"
  .changeset/cool-ligers-arrive.md
  deployments/warp_routes/USDC/paradex-config.yaml
  deployments/warp_routes/USDC/paradex-deploy.yaml
Due: prettier --write, eslint --fix

ownership transfer for warp fees
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

feat: extend and upgrade USDC/eclipsemainnet (#1219)
  .changeset/tall-rings-explode.md
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
  deployments/warp_routes/USDC/eclipsemainnet-ethereum-solanamainnet-config.yaml
Due: prettier --write, eslint --fix

feat: add Creator Chain Testnet
  .changeset/good-sails-pull.md
  chains/creatorchaintestnet/addresses.yaml
  chains/creatorchaintestnet/logo.svg
  chains/creatorchaintestnet/metadata.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
