Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix test regex
  src/consts.ts
Due: prettier --write

chore: remove ink connections from superseed route (#1334)
  .changeset/wise-toys-collect.md
  deployments/warp_routes/USDC/arbitrum-base-ethereum-ink-optimism-solanamainnet-superseed-config.yaml
Due: prettier --write, eslint --fix

remove decimals where not needed
  deployments/warp_routes/ETH/eni-deploy.yaml.txt
  deployments/warp_routes/WBTC/eni-deploy.yaml.txt
Due: none

feat: update to ink leg on superseed route, new cctp config, and warpRouteId
  deployments/warp_routes/USDC/arbitrum-base-ethereum-ink-optimism-solanamainnet-superseed-deploy.yaml
  deployments/warp_routes/USDC/superseed-config.yaml
  deployments/warp_routes/USDC/superseed-deploy.yaml
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/tall-rings-cry.md
Due: prettier --write

feat: extend USDC staging route (#1332)
  .changeset/strong-carpets-promise.md
  deployments/warp_routes/USDCSTAGE/eclipsemainnet-config.yaml
  deployments/warp_routes/USDCSTAGE/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

chore: updated owner for ink route
  deployments/warp_routes/USDC/superseed-deploy.yaml
Due: prettier --write, eslint --fix

back to yaml
  deployments/warp_routes/ETH/eni-deploy.yaml
  deployments/warp_routes/USDC/eni-deploy.yaml
  deployments/warp_routes/USDT/eni-deploy.yaml
  deployments/warp_routes/WBTC/eni-deploy.yaml
Due: prettier --write, eslint --fix

transfer ownership
  deployments/warp_routes/ETH/eni-deploy.yaml
  deployments/warp_routes/USDC/eni-deploy.yaml
  deployments/warp_routes/USDT/eni-deploy.yaml
  deployments/warp_routes/WBTC/eni-deploy.yaml
Due: prettier --write, eslint --fix

feat: superseed - USDC ink update (#1269)
  .changeset/tall-rings-cry.md
  deployments/warp_routes/USDC/arbitrum-base-ethereum-ink-optimism-solanamainnet-superseed-deploy.yaml
  deployments/warp_routes/USDC/superseed-config.yaml
  deployments/warp_routes/USDC/superseed-deploy.yaml
Due: prettier --write, eslint --fix

explicitly include decimals in deploy.yaml
  deployments/warp_routes/ETH/eni-deploy.yaml
  deployments/warp_routes/WBTC/eni-deploy.yaml
Due: prettier --write, eslint --fix

back to .txt
  deployments/warp_routes/ETH/eni-deploy.yaml.txt
  deployments/warp_routes/USDC/eni-deploy.yaml.txt
  deployments/warp_routes/USDT/eni-deploy.yaml.txt
  deployments/warp_routes/WBTC/eni-deploy.yaml.txt
Due: none

feat: add ENI warp route deploy configs (#1327)
  .changeset/sharp-moons-arrive.md
  deployments/warp_routes/ETH/eni-config.yaml
  deployments/warp_routes/ETH/eni-deploy.yaml.txt
  deployments/warp_routes/USDC/eni-config.yaml
  deployments/warp_routes/USDC/eni-deploy.yaml.txt
  deployments/warp_routes/USDT/eni-config.yaml
  deployments/warp_routes/USDT/eni-deploy.yaml.txt
  deployments/warp_routes/WBTC/eni-config.yaml
  deployments/warp_routes/WBTC/eni-deploy.yaml.txt
  src/consts.ts
Due: prettier --write, eslint --fix

chore(aleo): Aleo Solana metadata
  deployments/warp_routes/ALEO/logo.svg
  deployments/warp_routes/ALEO/metadata.json
Due: prettier --write

chore(aleo): changeset
  .changeset/giant-monkeys-cheat.md
Due: prettier --write

chore(aleo): small nits
  .changeset/giant-monkeys-cheat.md
Due: prettier --write

chore(aleo): small nits
  deployments/warp_routes/ALEO/metadata.json
Due: prettier --write

chore(aleo): Add metadata for the ALEO synthetic token on Solana. (#1335)
  .changeset/giant-monkeys-cheat.md
  deployments/warp_routes/ALEO/logo.svg
  deployments/warp_routes/ALEO/metadata.json
Due: prettier --write

chore(aleo): solana
  deployments/warp_routes/ALEO/aleo-deploy.yaml
  deployments/warp_routes/SOL/aleo-config.yaml
  deployments/warp_routes/SOL/aleo-deploy.yaml
  deployments/warp_routes/USDT/aleo-config.yaml
Due: prettier --write, eslint --fix

fix(base): update blockpi RPC URL
  .changeset/fix-base-blockpi-rpc.md
  chains/base/metadata.yaml
Due: prettier --write, eslint --fix

chore: Add availability disabled metadata to deprecated chains
  chains/deprecatedalephzeroevm/metadata.yaml
  chains/deprecatedchiliz/metadata.yaml
  chains/deprecatedflow/metadata.yaml
  chains/deprecatedimmutablezkevm/metadata.yaml
  chains/deprecatedmetall2/metadata.yaml
  chains/deprecatedpolynomial/metadata.yaml
  chains/deprecatedrari/metadata.yaml
  chains/deprecatedrootstock/metadata.yaml
  chains/deprecatedsuperposition/metadata.yaml
Due: prettier --write, eslint --fix

chore: Add changeset
  .changeset/quiet-chains-sleep.md
Due: prettier --write

fix: Use 'deprecated' reason instead of 'unavailable'
  chains/deprecatedalephzeroevm/metadata.yaml
  chains/deprecatedchiliz/metadata.yaml
  chains/deprecatedflow/metadata.yaml
  chains/deprecatedimmutablezkevm/metadata.yaml
  chains/deprecatedmetall2/metadata.yaml
  chains/deprecatedpolynomial/metadata.yaml
  chains/deprecatedrari/metadata.yaml
  chains/deprecatedrootstock/metadata.yaml
  chains/deprecatedsuperposition/metadata.yaml
Due: prettier --write, eslint --fix

chore: add "availability: disabled" to deprecated chains (#1337)
  .changeset/quiet-chains-sleep.md
  chains/deprecatedalephzeroevm/metadata.yaml
  chains/deprecatedchiliz/metadata.yaml
  chains/deprecatedflow/metadata.yaml
  chains/deprecatedimmutablezkevm/metadata.yaml
  chains/deprecatedmetall2/metadata.yaml
  chains/deprecatedpolynomial/metadata.yaml
  chains/deprecatedrari/metadata.yaml
  chains/deprecatedrootstock/metadata.yaml
  chains/deprecatedsuperposition/metadata.yaml
Due: prettier --write, eslint --fix

Update Ethereum ISM config for inEVM warp routes
  deployments/warp_routes/USDC/ethereum-inevm-deploy.yaml
  deployments/warp_routes/USDT/ethereum-inevm-deploy.yaml
Due: prettier --write, eslint --fix

Add changeset
  .changeset/bright-foxes-glow.md
Due: prettier --write

Remove Neutron
  deployments/warp_routes/TIA/mantapacific-deploy.yaml
Due: prettier --write, eslint --fix

chore: remove Neutron from mantapacific (#1314)
  .changeset/silver-impalas-train.md
  deployments/warp_routes/TIA/mantapacific-deploy.yaml
Due: prettier --write, eslint --fix

Add new Krown warp routes for BNB and WBTC
  .changeset/new-krown-warp-routes.md
  deployments/warp_routes/BNB/krown-config.yaml
  deployments/warp_routes/BNB/krown-deploy.yaml
  deployments/warp_routes/WBTC/krown-config.yaml
  deployments/warp_routes/WBTC/krown-deploy.yaml
Due: prettier --write, eslint --fix

Extend ETH and USDC Krown warp routes to Base
  .changeset/extend-krown-base.md
  deployments/warp_routes/ETH/krown-config.yaml
  deployments/warp_routes/ETH/krown-deploy.yaml
  deployments/warp_routes/USDC/krown-config.yaml
  deployments/warp_routes/USDC/krown-deploy.yaml
Due: prettier --write, eslint --fix

feat: Add new Krown warp routes for BNB and WBTC (#1339)
  .changeset/new-krown-warp-routes.md
  deployments/warp_routes/BNB/krown-config.yaml
  deployments/warp_routes/BNB/krown-deploy.yaml
  deployments/warp_routes/WBTC/krown-config.yaml
  deployments/warp_routes/WBTC/krown-deploy.yaml
Due: prettier --write, eslint --fix

fix: add deployer to creatorchaintestnet metadata
  chains/creatorchaintestnet/metadata.yaml
Due: prettier --write, eslint --fix

fix: update creatorchaintestnet metadata
  chains/creatorchaintestnet/metadata.yaml
Due: prettier --write, eslint --fix

chore(aleo): SOL<>Aleo
  deployments/warp_routes/SOL/aleo-deploy.yaml
Due: prettier --write, eslint --fix

fix(aleo): decimals usdt
  deployments/warp_routes/USDT/aleo-config.yaml
  deployments/warp_routes/USDT/aleo-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleo): usdt solana
  deployments/warp_routes/USDT/aleo-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleo): order chains
  deployments/warp_routes/ALEO/aleo-config.yaml
  deployments/warp_routes/ALEO/aleo-deploy.yaml
  deployments/warp_routes/SOL/aleo-config.yaml
  deployments/warp_routes/SOL/aleo-deploy.yaml
  deployments/warp_routes/USDC/aleo-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleo): USDC
  deployments/warp_routes/USDT/aleo-config.yaml
Due: prettier --write, eslint --fix

fix(base): update blockpi RPC URL (#1336)
  .changeset/fix-base-blockpi-rpc.md
  chains/base/metadata.yaml
Due: prettier --write, eslint --fix

linter fixes
  .changeset/quiet-penguins-tap.md
  deployments/warp_routes/WARD/ward-base-config.yaml
  deployments/warp_routes/WARD/ward-bsc-config.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
