Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write", 
  "*.md": "prettier --write",
  "*.json": "prettier --write",
  "*.yaml": ["eslint --fix", "prettier --write"]
}

chore(mUSD): add changesets
  .changeset/spicy-pens-build.md
  deployments/warp_routes/mUSD/musd-config.yaml
Due: prettier --write, eslint --fix

chore: yarn prettier
  deployments/warp_routes/mUSD/musd-config.yaml
Due: prettier --write, eslint --fix

Add usdc config
  deployments/warp_routes/USDC/mainnet-everclear-deploy.yaml
Due: prettier --write, eslint --fix

feat(mUSD): add bsc <-> linea route (#1228)
  .changeset/spicy-pens-build.md
  deployments/warp_routes/mUSD/musd-config.yaml
Due: prettier --write, eslint --fix

chore: update Hyperlane deps to SDK 19.8.0 and Utils 19.8.0
  chains/schema.json
  deployments/warp_routes/schema.json
  deployments/warp_routes/warpRouteConfigs.yaml
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix cctp configs
  deployments/warp_routes/USDC/mainnet-cctp-deploy.yaml
  deployments/warp_routes/USDC/testnet-cctp-deploy.yaml
Due: prettier --write, eslint --fix

workflow fixes
  .github/workflows/update-hyperlane-deps.yml
Due: none

changeset
  .changeset/dirty-pianos-sniff.md
Due: prettier --write

Update .changeset/dirty-pianos-sniff.md
  .changeset/dirty-pianos-sniff.md
Due: prettier --write

feat(USDSC, wM): add warp routes for Ethereum <-> Soneium
  .changeset/tidy-monkeys-relate.md
  deployments/warp_routes/USDSC/logo.png
  deployments/warp_routes/USDSC/usdsc-config.yaml
  deployments/warp_routes/wM/logo.png
  deployments/warp_routes/wM/wrapped-m-config.yaml
Due: prettier --write, eslint --fix

chore: yarn prettier
  deployments/warp_routes/USDSC/usdsc-config.yaml
  deployments/warp_routes/wM/wrapped-m-config.yaml
Due: prettier --write, eslint --fix

chore: CHANGESET
  .changeset/itchy-lemons-return.md
Due: prettier --write

chore: set Solana owner
  deployments/warp_routes/LITKEY/litchain-deploy.yaml
Due: prettier --write, eslint --fix

feat(warp-routes): deployed pog warp route solana<>apechain
  deployments/warp_routes/POG/apechain-config.yaml
  deployments/warp_routes/POG/apechain-deploy.yaml
  deployments/warp_routes/POG/logo.png
Due: prettier --write, eslint --fix

chore: yarn changeset
  .changeset/fast-eagles-warn.md
Due: prettier --write

chore: lint
  deployments/warp_routes/LITKEY/litchain-deploy.yaml
Due: prettier --write, eslint --fix

chore: remove faulty base rpc
  chains/base/metadata.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/forty-cherries-rush.md
Due: prettier --write

feat(wM): add warp routes
  .changeset/olive-pots-shave.md
  .changeset/tidy-monkeys-relate.md
  deployments/warp_routes/USDSC/logo.png
  deployments/warp_routes/USDSC/usdsc-config.yaml
  deployments/warp_routes/wM/wrapped-m-config.yaml
Due: prettier --write, eslint --fix

chore: update Hyperlane deps to SDK 19.9.0 and Utils 19.9.0
  .changeset/auto-update-hyperlane-deps-1763370736.md
  package.json
  yarn.lock
Due: prettier --write

chore: remove faulty base rpc (#1232)
  .changeset/forty-cherries-rush.md
  chains/base/metadata.yaml
Due: prettier --write, eslint --fix

chore: lint:fix
  deployments/warp_routes/wM/wrapped-m-config.yaml
Due: prettier --write, eslint --fix

feat(edentestnet): update native token to TIA (18 decimals)
  chains/edentestnet/metadata.yaml
  chains/metadata.yaml
Due: prettier --write, eslint --fix

feat: transferred ownership of the POG route
  deployments/warp_routes/POG/apechain-deploy.yaml
Due: prettier --write, eslint --fix

yarn prettier + yarn lint:fix
  deployments/warp_routes/POG/apechain-config.yaml
Due: prettier --write, eslint --fix

feat: add apescan to apechain metadata
  chains/apechain/metadata.yaml
Due: prettier --write, eslint --fix

feat: pog ape warp deployment (#1237)
  .changeset/fast-eagles-warn.md
  chains/apechain/metadata.yaml
  deployments/warp_routes/POG/apechain-config.yaml
  deployments/warp_routes/POG/apechain-deploy.yaml
  deployments/warp_routes/POG/logo.png
Due: prettier --write, eslint --fix

feat: remove trailing / from block explorer urls
  chains/apechain/metadata.yaml
  chains/arbitrumnova/metadata.yaml
  chains/berachain/metadata.yaml
  chains/blast/metadata.yaml
  chains/blastsepolia/metadata.yaml
  chains/canto/metadata.yaml
  chains/cantotestnet/metadata.yaml
  chains/connextsepolia/metadata.yaml
  chains/deprecatedsuperposition/metadata.yaml
  chains/eclipsemainnet/metadata.yaml
  chains/ecotestnet/metadata.yaml
  chains/fraxtaltestnet/metadata.yaml
  chains/galadrieldevnet/metadata.yaml
  chains/harmonytestnet/metadata.yaml
  chains/koitestnet/metadata.yaml
  chains/lisksepolia/metadata.yaml
  chains/mantlesepolia/metadata.yaml
  chains/metertestnet/metadata.yaml
  chains/mintsepoliatest/metadata.yaml
  chains/mitosis/metadata.yaml
  chains/ontology/metadata.yaml
  chains/opbnbtestnet/metadata.yaml
  chains/peaq/metadata.yaml
  chains/pulsechain/metadata.yaml
  chains/sapphiretestnet/metadata.yaml
  chains/scroll/metadata.yaml
  chains/scrollsepolia/metadata.yaml
  chains/solotestnet/metadata.yaml
  chains/soon/metadata.yaml
  chains/starknet/metadata.yaml
  chains/superpositionmainnet/metadata.yaml
  chains/tangletestnet/metadata.yaml
  chains/zoratestnet/metadata.yaml
  test/unit/chains.test.ts
Due: prettier --write, eslint --fix

chore: yarn changeset
  .changeset/silly-apricots-poke.md
Due: prettier --write

feat: remove trailing slash from block explorer urls (#1238)
  .changeset/silly-apricots-poke.md
  chains/apechain/metadata.yaml
  chains/arbitrumnova/metadata.yaml
  chains/berachain/metadata.yaml
  chains/blast/metadata.yaml
  chains/blastsepolia/metadata.yaml
  chains/canto/metadata.yaml
  chains/cantotestnet/metadata.yaml
  chains/connextsepolia/metadata.yaml
  chains/deprecatedsuperposition/metadata.yaml
  chains/eclipsemainnet/metadata.yaml
  chains/ecotestnet/metadata.yaml
  chains/fraxtaltestnet/metadata.yaml
  chains/galadrieldevnet/metadata.yaml
  chains/harmonytestnet/metadata.yaml
  chains/koitestnet/metadata.yaml
  chains/lisksepolia/metadata.yaml
  chains/mantlesepolia/metadata.yaml
  chains/metertestnet/metadata.yaml
  chains/mintsepoliatest/metadata.yaml
  chains/mitosis/metadata.yaml
  chains/ontology/metadata.yaml
  chains/opbnbtestnet/metadata.yaml
  chains/peaq/metadata.yaml
  chains/pulsechain/metadata.yaml
  chains/sapphiretestnet/metadata.yaml
  chains/scroll/metadata.yaml
  chains/scrollsepolia/metadata.yaml
  chains/solotestnet/metadata.yaml
  chains/soon/metadata.yaml
  chains/starknet/metadata.yaml
  chains/superpositionmainnet/metadata.yaml
  chains/tangletestnet/metadata.yaml
  chains/zoratestnet/metadata.yaml
  test/unit/chains.test.ts
Due: prettier --write, eslint --fix

Revert "revert: "feat: Add gitleaks to husky precommit" (#582)"
  .changeset/loud-ducks-dress.md
  .gitleaks.toml
  .husky/pre-commit
  README.md
  package.json
Due: prettier --write

fix: use prepare instead of postinstall for husky
  package.json
Due: prettier --write

undelete changeset
  .changeset/loud-ducks-dress.md
Due: prettier --write

changeset
  .changeset/chilled-schools-tap.md
Due: prettier --write

copy latest gitleaks.toml from monorepo
  .gitleaks.toml
Due: none

feat: Add gitleaks to husky precommit using prepare script (#1239)
  .changeset/chilled-schools-tap.md
  .gitleaks.toml
  .husky/pre-commit
  README.md
  package.json
Due: prettier --write

feat(warp-routes): deployed the best token warp route
  deployments/warp_routes/BEST/ethereum-config.yaml
  deployments/warp_routes/BEST/ethereum-deploy.yaml
  deployments/warp_routes/BEST/logo.svg
Due: prettier --write, eslint --fix

feat: add wM routes (#1)
  .changeset/olive-pots-shave.md
  deployments/warp_routes/wM/logo.png
  deployments/warp_routes/wM/wrapped-m-config.yaml
Due: prettier --write, eslint --fix

feat: add USDSC routes (#3)
  deployments/warp_routes/USDSC/logo.png
  deployments/warp_routes/USDSC/usdsc-config.yaml
  deployments/warp_routes/wM/wrapped-m-config.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

fix(changeset): update description
  .changeset/olive-pots-shave.md
Due: prettier --write
