Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write", 
  "*.md": "prettier --write",
  "*.json": "prettier --write",
  "*.yaml": ["eslint --fix", "prettier --write"]
}

fix: use correct BTCB symbol for BSC portion of WBTC/carrchain route
  .changeset/fix-btcb-symbol.md
  deployments/warp_routes/WBTC/carrchain-config.yaml
Due: prettier --write, eslint --fix

Remove neutron
  deployments/warp_routes/TIA/mantapacific-config.yaml
Due: prettier --write, eslint --fix

Add cs
  .changeset/curvy-kiwis-explain.md
Due: prettier --write

fix: use correct BTCB symbol for BSC portion of WBTC/carrchain route (#1361)
  .changeset/fix-btcb-symbol.md
  deployments/warp_routes/WBTC/carrchain-config.yaml
Due: prettier --write, eslint --fix

feat: Add signer registry URIs for GCP and Foundry keystores
  src/fs/FileSystemRegistry.ts
  src/fs/registry-utils.ts
  src/index.ts
  src/registry/BaseRegistry.ts
  src/registry/FoundryKeystoreRegistry.ts
  src/registry/GCPSignerRegistry.ts
  src/registry/IRegistry.ts
  src/registry/MergedRegistry.ts
  src/types.ts
  test/unit/FoundryKeystoreRegistry.test.ts
  test/unit/GCPSignerRegistry.test.ts
Due: prettier --write

Sync deploy config for eclipse usdc
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Update CS
  .changeset/wicked-lions-hug.md
Due: prettier --write

fix: update solanamainnet interchainSecurityModule address
  .changeset/update-solanamainnet-igp.md
  chains/solanamainnet/addresses.yaml
Due: prettier --write, eslint --fix

chore: jan 2026 testnet deprecations
  chains/auroratestnet/metadata.yaml
  chains/basecamptestnet/metadata.yaml
  chains/carrchaintestnet/metadata.yaml
  chains/citreatestnet/metadata.yaml
  chains/giwasepolia/metadata.yaml
  chains/megaethtestnet/metadata.yaml
  chains/modetestnet/metadata.yaml
  chains/monadtestnet/metadata.yaml
  chains/neuratestnet/metadata.yaml
  chains/nobletestnet/metadata.yaml
  chains/scrollsepolia/metadata.yaml
  chains/somniatestnet/metadata.yaml
  chains/subtensortestnet/metadata.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/slimy-walls-itch.md
Due: prettier --write

chore: jan 2026 testnet deprecations (#1366)
  .changeset/slimy-walls-itch.md
  chains/auroratestnet/metadata.yaml
  chains/basecamptestnet/metadata.yaml
  chains/carrchaintestnet/metadata.yaml
  chains/citreatestnet/metadata.yaml
  chains/giwasepolia/metadata.yaml
  chains/megaethtestnet/metadata.yaml
  chains/modetestnet/metadata.yaml
  chains/monadtestnet/metadata.yaml
  chains/neuratestnet/metadata.yaml
  chains/nobletestnet/metadata.yaml
  chains/scrollsepolia/metadata.yaml
  chains/somniatestnet/metadata.yaml
  chains/subtensortestnet/metadata.yaml
Due: prettier --write, eslint --fix

fix: update solanamainnet interchainSecurityModule address (#1362)
  .changeset/update-solanamainnet-igp.md
  chains/solanamainnet/addresses.yaml
Due: prettier --write, eslint --fix

update isms
  chains/ontology/addresses.yaml
  chains/viction/addresses.yaml
Due: prettier --write, eslint --fix

migrate ontology to v2 icas
  chains/ontology/addresses.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/dirty-coins-remain.md
Due: prettier --write

update ontology ism
  chains/ontology/addresses.yaml
Due: prettier --write, eslint --fix

feat(http-client): implement warp route write methods
  src/fs/FileSystemRegistry.ts
  src/index.ts
  src/registry/BaseRegistry.ts
  src/registry/GithubRegistry.ts
  src/registry/HttpClientRegistry.ts
  src/registry/IRegistry.ts
  src/registry/MergedRegistry.ts
  src/registry/PartialRegistry.ts
  src/registry/SynchronousRegistry.ts
  src/types.ts
Due: prettier --write

Remove other neutron token:
  deployments/warp_routes/TIA/mantapacific-config.yaml
Due: prettier --write, eslint --fix

chore: Remove Neutron from tia warp core (#1363)
  .changeset/curvy-kiwis-explain.md
  deployments/warp_routes/TIA/mantapacific-config.yaml
Due: prettier --write, eslint --fix

feat: jan 29 multisig batch (#1367)
  .changeset/dirty-coins-remain.md
  chains/ontology/addresses.yaml
  chains/viction/addresses.yaml
Due: prettier --write, eslint --fix

chore: update and extend the viction route
  deployments/warp_routes/ETH/ethereum-viction-config.yaml
  deployments/warp_routes/ETH/ethereum-viction-deploy.yaml
  deployments/warp_routes/ETH/viction-config.yaml
  deployments/warp_routes/ETH/viction-deploy.yaml
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/update-viction-route.md
Due: prettier --write

fix: decimals in deploy config
  deployments/warp_routes/ETH/viction-deploy.yaml
Due: prettier --write, eslint --fix

chore: remove proxyAdmin from viction
  deployments/warp_routes/ETH/viction-deploy.yaml
Due: prettier --write, eslint --fix

chore: add aleo USDC connections
  deployments/warp_routes/USDC/aleo-config.yaml
Due: prettier --write, eslint --fix

chore: add changeset for http registry write support
  .changeset/http-registry-writes.md
Due: prettier --write

fix(types): add regex validation to WarpRouteIdSchema
  src/types.ts
Due: prettier --write

chore: changelog
  .changeset/calm-trainers-smile.md
Due: prettier --write

chore: add solana collateral for Aleo
  deployments/warp_routes/ALEO/aleo-config.yaml
Due: prettier --write, eslint --fix

ci: add Claude code review workflow
  .github/prompts/code-review.md
  .github/prompts/security-scan.md
  .github/workflows/claude-code-review.yml
  .gitignore
  CLAUDE.md
Due: prettier --write

ci: simplify workflow - remove security review, code review on-demand only
  .github/prompts/security-scan.md
  .github/workflows/claude-code-review.yml
Due: prettier --write

chore: use opus for code-review, checkout@v6
  .github/workflows/claude-code-review.yml
Due: none

fix: add fork guards and PR SHA checkout for security
  .github/workflows/claude-code-review.yml
Due: none

fix: add same-repo guard for label-triggered code-review
  .github/workflows/claude-code-review.yml
Due: none

fix: add PR guard and same-repo check to interactive job
  .github/workflows/claude-code-review.yml
Due: none

feat: add claude-review skill
  .claude/skills/claude-review/SKILL.md
Due: prettier --write

chore: add changeset
  .changeset/claude-code-review.md
Due: prettier --write

ci: add Claude code review workflow (#1370)
  .changeset/claude-code-review.md
  .claude/skills/claude-review/SKILL.md
  .github/prompts/code-review.md
  .github/workflows/claude-code-review.yml
  .gitignore
  CLAUDE.md
Due: prettier --write
