Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": "prettier --write",
  "*.ts": "prettier --write", 
  "*.md": "prettier --write",
  "*.json": "prettier --write",
  "*.yaml": ["eslint --fix", "prettier --write"]
}

chore: USDC/eclipsemainnet ownership transfer
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/sixty-tables-yell.md
Due: prettier --write

feat: add wardenprotocol warp routes
  deployments/warp_routes/WARD/logo.svg
  deployments/warp_routes/WARD/ward-base-config.yaml
  deployments/warp_routes/WARD/ward-bsc-config.yaml
Due: prettier --write, eslint --fix

chore: USDC/eclipsemainnet ownership transfer (#1324)
  .changeset/sixty-tables-yell.md
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

fix: remove outdated lukso RPC
  .changeset/flat-jobs-press.md
  chains/lukso/metadata.yaml
Due: prettier --write, eslint --fix

Update chains/lukso/metadata.yaml
  chains/lukso/metadata.yaml
Due: prettier --write, eslint --fix

fix: remove outdated lukso RPC (#1326)
  .changeset/flat-jobs-press.md
  chains/lukso/metadata.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): add changeset
  .changeset/soft-bugs-tie.md
Due: prettier --write

chore(aleotestnet): small nits
  chains/aleotestnet/metadata.yaml
  deployments/warp_routes/ALEO/aleotestnet-sepolia-config.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): small nits
  deployments/warp_routes/ALEO/aleotestnet-sepolia-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): update config
  deployments/warp_routes/ALEO/aleotestnet-sepolia-config.yaml
  deployments/warp_routes/ALEO/logo.svg
Due: prettier --write, eslint --fix

feat(aleotestnet): add ALEO -> Sepolia warp route
  deployments/warp_routes/ALEO/aleotestnet-sepolia-config.yaml
  deployments/warp_routes/ALEO/aleotestnet-sepolia-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): small nit
  deployments/warp_routes/ALEO/aleotestnet-sepolia-config.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): small nit
  deployments/warp_routes/ALEO/aleotestnet-sepolia-config.yaml
  deployments/warp_routes/ALEO/aleotestnet-sepolia-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): small nit
  deployments/warp_routes/ALEO/aleotestnet-sepolia-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): add bech32-prefix to aleotestnet
  chains/aleotestnet/metadata.yaml
Due: prettier --write, eslint --fix

fix: upgrade cctp v2 standard with core 10.1.3
  .changeset/strong-pandas-notice.md
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-deploy.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-strategy.yaml
Due: prettier --write, eslint --fix

fix: upgrade cctp v2 standard with core 10.1.3 (#1328)
  .changeset/strong-pandas-notice.md
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-deploy.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-strategy.yaml
Due: prettier --write, eslint --fix

Add mega eth gnosis safe api
  chains/megaeth/metadata.yaml
Due: prettier --write, eslint --fix

Add Cs
  .changeset/tender-rings-judge.md
Due: prettier --write

chore: Add mega eth gnosis safe api (#1329)
  .changeset/tender-rings-judge.md
  chains/megaeth/metadata.yaml
Due: prettier --write, eslint --fix

Add USDC logo to CCTP routes
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-config.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-config.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-deploy.yaml
Due: prettier --write, eslint --fix

## Summary
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-config.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-config.yaml
Due: prettier --write, eslint --fix

Add changeset for CCTP USDC logo
  .changeset/cctp-usdc-logo.md
Due: prettier --write

feat: Add USDC logo to CCTP routes (#1330)
  .changeset/cctp-usdc-logo.md
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-config.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-config.yaml
Due: prettier --write, eslint --fix

fix: only charge warp fee on withdrawals from ENI
  deployments/warp_routes/ETH/eni-deploy.yaml
  deployments/warp_routes/USDC/eni-deploy.yaml
  deployments/warp_routes/USDT/eni-deploy.yaml
  deployments/warp_routes/WBTC/eni-deploy.yaml
Due: prettier --write, eslint --fix

feat: add ENI warp route deploy configs
  deployments/warp_routes/ETH/eni-deploy.yaml
  deployments/warp_routes/USDC/eni-deploy.yaml
  deployments/warp_routes/USDT/eni-deploy.yaml
  deployments/warp_routes/WBTC/eni-deploy.yaml
Due: prettier --write, eslint --fix

fixed configs
  deployments/warp_routes/ETH/eni-deploy.yaml
  deployments/warp_routes/USDC/eni-deploy.yaml
  deployments/warp_routes/USDT/eni-deploy.yaml
  deployments/warp_routes/WBTC/eni-deploy.yaml
Due: prettier --write, eslint --fix

feat: extend USDC staging route
  deployments/warp_routes/USDCSTAGE/eclipsemainnet-config.yaml
  deployments/warp_routes/USDCSTAGE/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Add ezethStage configs
  deployments/warp_routes/EZETHSTAGE/renzo-stage-config.yaml
  deployments/warp_routes/EZETHSTAGE/renzo-stage-deploy.yaml
Due: prettier --write, eslint --fix

fix: set technical stack to zksync
  chains/creatorchaintestnet/metadata.yaml
Due: prettier --write, eslint --fix

Add Megaeth to EZETH. Update owners
  deployments/warp_routes/EZETH/renzo-prod-config.yaml
  deployments/warp_routes/EZETH/renzo-prod-deploy.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/strong-carpets-promise.md
Due: prettier --write

add warp configs
  deployments/warp_routes/ETH/eni-config.yaml
  deployments/warp_routes/USDC/eni-config.yaml
  deployments/warp_routes/USDT/eni-config.yaml
  deployments/warp_routes/WBTC/eni-config.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/sharp-moons-arrive.md
Due: prettier --write

tmp: mask eni deploy yamls as txt until we can rollout latest sdk to registry
  deployments/warp_routes/ETH/eni-deploy.yaml.txt
  deployments/warp_routes/USDC/eni-deploy.yaml.txt
  deployments/warp_routes/USDT/eni-deploy.yaml.txt
  deployments/warp_routes/WBTC/eni-deploy.yaml.txt
Due: none

nit: add logos, add gecko ids, update names
  deployments/warp_routes/ETH/eni-config.yaml
  deployments/warp_routes/USDC/eni-config.yaml
  deployments/warp_routes/USDT/eni-config.yaml
  deployments/warp_routes/WBTC/eni-config.yaml
Due: prettier --write, eslint --fix

chore: remove ink connections from superseed route
  deployments/warp_routes/USDC/arbitrum-base-ethereum-ink-optimism-solanamainnet-superseed-config.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/wise-toys-collect.md
Due: prettier --write
