Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: update actions/checkout and actions/setup-node to v6
  .github/workflows/check-warp-deploy.yaml
  .github/workflows/ci.yml
  .github/workflows/combine.yml
  .github/workflows/release.yml
  .github/workflows/rpc-healthcheck.yml
  .github/workflows/update-hyperlane-deps.yml
  .github/workflows/update-nitro-chains.yml
Due: prettier --write, eslint --fix

chore: remove paradex connections
  deployments/warp_routes/USDC/paradex-config.yaml
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/quick-ducks-hope.md
Due: prettier --write

pnpm style improvements
  .github/actions/pnpm-cache/action.yml
  .github/workflows/ci.yml
  .github/workflows/rpc-healthcheck.yml
  .github/workflows/update-hyperlane-deps.yml
Due: none

chore: remove connection from starknet too
  .changeset/quick-ducks-hope.md
  deployments/warp_routes/USDC/paradex-config.yaml
Due: prettier --write, eslint --fix

chore: remove connections from paradex and starknet in USDC/paradex (#1279)
  .changeset/quick-ducks-hope.md
  deployments/warp_routes/USDC/paradex-config.yaml
Due: prettier --write, eslint --fix

feat: add Syscoin NEVM chain
  .changeset/sweet-games-explain.md
  chains/syscoin/addresses.yaml
  chains/syscoin/logo.svg
  chains/syscoin/metadata.yaml
Due: prettier --write, eslint --fix

feat(warp-routes): transferred ownership of base leg
  deployments/warp_routes/XRD/radix-deploy.yaml
Due: prettier --write, eslint --fix

chore: yanr changeset
  .changeset/poor-flowers-attend.md
Due: prettier --write

chore: re-add starknet connections in USDC/paradex route
  deployments/warp_routes/USDC/paradex-config.yaml
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/shiny-geese-mate.md
Due: prettier --write

chore: re-add starknet connections to USDC/paradex route (#1282)
  .changeset/shiny-geese-mate.md
  deployments/warp_routes/USDC/paradex-config.yaml
Due: prettier --write, eslint --fix

feat: xrd base extension (#1281)
  .changeset/poor-flowers-attend.md
  deployments/warp_routes/XRD/radix-config.yaml
  deployments/warp_routes/XRD/radix-deploy.yaml
Due: prettier --write, eslint --fix

chore: aleo testnet deployment
  chains/aleotestnet/metadata.yaml
  chains/sepolia/addresses.yaml
Due: prettier --write, eslint --fix

feat: deploy aleotestnet (#1273)
  .changeset/eight-timers-fix.md
  chains/aleotestnet/addresses.yaml
  chains/aleotestnet/logo.svg
  chains/aleotestnet/metadata.yaml
  chains/sepolia/addresses.yaml
Due: prettier --write, eslint --fix

feat(warp-routes): deployed the metis/lazai route
  deployments/warp_routes/METIS/lazai-config.yaml
  deployments/warp_routes/METIS/lazai-deploy.yaml
  deployments/warp_routes/METIS/logo.svg
Due: prettier --write, eslint --fix

update safe URLs
  chains/monad/metadata.yaml
  chains/plasma/metadata.yaml
  chains/stable/metadata.yaml
  chains/xlayer/metadata.yaml
Due: prettier --write, eslint --fix

ci: use frozen lockfile and add changeset for pnpm migration
  .changeset/grumpy-buckets-sparkle.md
  .github/workflows/release.yml
Due: prettier --write

fix: add coinGeckoId to subtensor USDC config
  .changeset/tame-jobs-explain.md
  deployments/warp_routes/USDC/subtensor-config.yaml
Due: prettier --write, eslint --fix

lint fix
  deployments/warp_routes/USDC/subtensor-config.yaml
Due: prettier --write, eslint --fix

fix: add coinGeckoId to subtensor USDC config (#1283)
  .changeset/tame-jobs-explain.md
  deployments/warp_routes/USDC/subtensor-config.yaml
Due: prettier --write, eslint --fix

chore: yorke + rabbit review
  src/registry/IRegistry.ts
Due: prettier --write

feat(aleotestnet): add ALEO -> Sepolia warp route
  deployments/warp_routes/ALEO/aleotestnet-sepolia-config.yaml
  deployments/warp_routes/ALEO/aleotestnet-sepolia-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): add bech32-prefix to aleotestnet
  chains/aleotestnet/metadata.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): update config
  deployments/warp_routes/ALEO/aleotestnet-sepolia-config.yaml
  deployments/warp_routes/ALEO/logo.svg
Due: prettier --write, eslint --fix

chore(aleotestnet): add changeset
  .changeset/soft-bugs-tie.md
Due: prettier --write

chore(aleotestnet): small nit
  deployments/warp_routes/ALEO/aleotestnet-sepolia-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): small nit
  deployments/warp_routes/ALEO/aleotestnet-sepolia-config.yaml
  deployments/warp_routes/ALEO/aleotestnet-sepolia-deploy.yaml
Due: prettier --write, eslint --fix

chore(aleotestnet): small nit
  deployments/warp_routes/ALEO/aleotestnet-sepolia-config.yaml
Due: prettier --write, eslint --fix

chore: remove incentiv gas price override
  .changeset/brave-books-fail.md
  chains/incentiv/metadata.yaml
Due: prettier --write, eslint --fix

chore: remove incentiv gas price override (#1285)
  .changeset/brave-books-fail.md
  chains/incentiv/metadata.yaml
Due: prettier --write, eslint --fix

CR: andrey
  .github/workflows/ci.yml
  .github/workflows/combine.yml
  .husky/pre-commit
  package.json
Due: prettier --write

Add cs
  .changeset/three-lies-crash.md
Due: prettier --write

Add CS
  .changeset/three-lies-crash.md
Due: prettier --write

feat: Add renzo ezeth to stable (#1275)
  .changeset/three-lies-crash.md
  chains/monad/metadata.yaml
  chains/plasma/metadata.yaml
  chains/stable/metadata.yaml
  chains/xlayer/metadata.yaml
  deployments/warp_routes/EZETH/renzo-prod-config.yaml
  deployments/warp_routes/EZETH/renzo-prod-deploy.yaml
  deployments/warp_routes/EZETHSTAGE/renzo-stage-config.yaml
  deployments/warp_routes/EZETHSTAGE/renzo-stage-deploy.yaml
Due: prettier --write, eslint --fix

feat: update flowmainnet gas price
  .changeset/fluffy-forks-fall.md
  chains/flowmainnet/metadata.yaml
Due: prettier --write, eslint --fix

feat: update metadata.yaml
  chains/metadata.yaml
Due: prettier --write, eslint --fix

feat: update flowmainnet gas price (#1286)
  .changeset/fluffy-forks-fall.md
  chains/flowmainnet/metadata.yaml
  chains/metadata.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
