Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(chains): fix hyperevm blockexplorer api url + add monadscan explorer info
  .changeset/thick-oranges-dress.md
  chains/hyperevm/metadata.yaml
  chains/monad/metadata.yaml
Due: prettier --write, eslint --fix

chore: make ci happy
  chains/hyperevm/metadata.yaml
  chains/monad/metadata.yaml
Due: prettier --write, eslint --fix

fix(chains): fix hyperevm blockexplorer api url + add monadscan explorer info (#1474)
  .changeset/thick-oranges-dress.md
  chains/hyperevm/metadata.yaml
  chains/monad/metadata.yaml
Due: prettier --write, eslint --fix

chore: temporary remove eclipse and solana route for tron
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

chore: temporary disable eclipse -> tron
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

chore: temporary disable bsc -> eclipse
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

Add changeset
  .changeset/late-turkeys-boil.md
Due: prettier --write

feat: add scale factor to BSC in USDT/eclipsemainnet warp route
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

Update SDK deps to 31.1.0, fix publish tsconfig for TS6 compat
  tsconfig.publish.json
Due: prettier --write

feat(cctp): upgrade CCTP V2 warp route contract version to 11.2.0 (#1453)
  .changeset/late-turkeys-boil.md
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-deploy.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-deploy.yaml
Due: prettier --write, eslint --fix

feat: add USDnr (Nerona USD) warp route between Ethereum and Fluent
  .changeset/quick-terms-begin.md
  deployments/warp_routes/USDnr/logo.svg
  deployments/warp_routes/USDnr/usdnr-config.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

feat: added testnet-cctp-v2-fast (#1451)
  .changeset/red-dolls-return.md
  deployments/warp_routes/USDC/testnet-cctp-v2-fast-config.yaml
  deployments/warp_routes/USDC/testnet-cctp-v2-fast-deploy.yaml
Due: prettier --write, eslint --fix

Skip M0 artifacts in warp deploy enforcement
  scripts/check-warp-deploy.sh
Due: none

Add changeset for M0 deploy check exemption
  .changeset/cool-bags-leave.md
Due: prettier --write

Skip check-warp-deploy enforcement for M0 artifacts (#1478)
  .changeset/cool-bags-leave.md
  scripts/check-warp-deploy.sh
Due: prettier --write

chore: hide plasma -> eclipse connection
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

feat: rename and extend USDT/eclipsemainnet warp route (#1444)
  .changeset/young-socks-decide.md
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
  deployments/warp_routes/USDT/eclipsemainnet-deploy.yaml
  deployments/warp_routes/USDT/eclipsemainnet-ethereum-solanamainnet-config.yaml
  deployments/warp_routes/USDT/eclipsemainnet-ethereum-solanamainnet-deploy.yaml
Due: prettier --write, eslint --fix

feat: add KII/kiichain warp route
  .changeset/add-kii-kiichain.md
  deployments/warp_routes/KII/kiichain-config.yaml
  deployments/warp_routes/KII/kiichain-deploy.yaml
  deployments/warp_routes/KII/logo.png
Due: prettier --write, eslint --fix

feat: add missing scale fields to warp route config files
  deployments/warp_routes/TRUMP/arbitrum-avalanche-base-flowmainnet-form-optimism-solanamainnet-worldchain-config.yaml
  deployments/warp_routes/USDC/aleo-config.yaml
  deployments/warp_routes/USDC/carrchain-config.yaml
  deployments/warp_routes/USDC/matchain-config.yaml
  deployments/warp_routes/USDT/aleo-config.yaml
  deployments/warp_routes/USDT/carrchain-config.yaml
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
  deployments/warp_routes/WBTC/carrchain-config.yaml
Due: prettier --write, eslint --fix

changeset: add missing scale to warp route configs
  .changeset/add-missing-scale-configs.md
Due: prettier --write

ci: update Claude Opus model to claude-opus-4-7
  .github/workflows/claude-code-review.yml
Due: none

ci: update Claude Sonnet model to claude-sonnet-4-6
  .github/workflows/claude-code-review.yml
Due: none

chore: update claude models (#1481)
  .github/workflows/claude-code-review.yml
Due: none

feat: add missing scale fields to warp route config files (#1480)
  .changeset/add-missing-scale-configs.md
  deployments/warp_routes/TRUMP/arbitrum-avalanche-base-flowmainnet-form-optimism-solanamainnet-worldchain-config.yaml
  deployments/warp_routes/USDC/aleo-config.yaml
  deployments/warp_routes/USDC/carrchain-config.yaml
  deployments/warp_routes/USDC/matchain-config.yaml
  deployments/warp_routes/USDT/aleo-config.yaml
  deployments/warp_routes/USDT/carrchain-config.yaml
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
  deployments/warp_routes/WBTC/carrchain-config.yaml
Due: prettier --write, eslint --fix

feat: add USDT/oft warp route deployment artifacts
  deployments/warp_routes/USDT/oft-config.yaml
  deployments/warp_routes/USDT/oft-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset for USDT/oft warp route
  .changeset/usdt-oft-warp-route.md
Due: prettier --write

chore: add plasma owner to USDT/oft deploy config
  deployments/warp_routes/USDT/oft-deploy.yaml
Due: prettier --write, eslint --fix

chore: update USDT/oft deploy config with production owners
  deployments/warp_routes/USDT/oft-deploy.yaml
Due: prettier --write, eslint --fix

feat: USDT/oft warp route deployment artifacts (#1447)
  .changeset/usdt-oft-warp-route.md
  deployments/warp_routes/USDT/oft-config.yaml
  deployments/warp_routes/USDT/oft-deploy.yaml
Due: prettier --write, eslint --fix

fix: kii name
  deployments/warp_routes/KII/kiichain-config.yaml
  deployments/warp_routes/KII/kiichain-deploy.yaml
Due: prettier --write, eslint --fix

chore: add arbitrum owner to USDT/oft-legacy deploy config
  deployments/warp_routes/USDT/oft-legacy-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset for USDT/oft-legacy warp route
  .changeset/usdt-oft-legacy-warp-route.md
Due: prettier --write

feat: add USDT/oft-legacy warp route deployment artifacts
  deployments/warp_routes/USDT/oft-legacy-config.yaml
  deployments/warp_routes/USDT/oft-legacy-deploy.yaml
Due: prettier --write, eslint --fix

feat: add KII/kiichain warp route (#1479)
  .changeset/add-kii-kiichain.md
  deployments/warp_routes/KII/kiichain-config.yaml
  deployments/warp_routes/KII/kiichain-deploy.yaml
  deployments/warp_routes/KII/logo.png
Due: prettier --write, eslint --fix

feat: USDT/oft-legacy warp route deployment artifacts (Tron, Ethereum, Arbitrum) (#1448)
  .changeset/usdt-oft-legacy-warp-route.md
  deployments/warp_routes/USDT/oft-legacy-config.yaml
  deployments/warp_routes/USDT/oft-legacy-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp-routes): restore eclipse collateral token address
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

fix(warp-routes): add missing bsc scale to usdc eclipsemainnet
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

chore: add logos and coingeckoid
  deployments/warp_routes/CROSS/ctusd-config.yaml
  deployments/warp_routes/USDC/ctusd-config.yaml
  deployments/warp_routes/USDT/ctusd-config.yaml
  deployments/warp_routes/ctUSD/citrea-config.yaml
Due: prettier --write, eslint --fix

chore: update build file
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
