Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: remove wM warp route between Ethereum, Linea and BSC
  .changeset/tricky-snails-own.md
  deployments/warp_routes/wM/wrapped-m-portal-lite-config.yaml
Due: prettier --write, eslint --fix

feat: remove wM warp route between Ethereum, Linea and BSC (#1494)
  .changeset/tricky-snails-own.md
  deployments/warp_routes/wM/wrapped-m-portal-lite-config.yaml
Due: prettier --write, eslint --fix

fix: change USDnr token logo
  deployments/warp_routes/USDnr/logo.svg
Due: none

chore: add changeset
  .changeset/two-turtles-wave.md
Due: prettier --write

fix: change USDnr token logo (#1495)
  .changeset/two-turtles-wave.md
  deployments/warp_routes/USDnr/logo.svg
Due: prettier --write

feat: deprecate everclear
  .changeset/deprecate-everclear.md
  chains/everclear/metadata.yaml
Due: prettier --write, eslint --fix

feat: deprecate everclear (#1497)
  .changeset/deprecate-everclear.md
  chains/everclear/metadata.yaml
Due: prettier --write, eslint --fix

fix: scale in VRA/bsc-ethereum route
  deployments/warp_routes/VRA/bsc-ethereum-config.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/metal-squids-deny.md
Due: prettier --write

fix: vra scale (#1498)
  .changeset/metal-squids-deny.md
  deployments/warp_routes/VRA/bsc-ethereum-config.yaml
Due: prettier --write, eslint --fix

feat: deprecate milkyway
  .changeset/deprecate-milkyway.md
  chains/milkyway/metadata.yaml
Due: prettier --write, eslint --fix

feat: deprecate milkyway (#1499)
  .changeset/deprecate-milkyway.md
  chains/milkyway/metadata.yaml
Due: prettier --write, eslint --fix

feat: add KII/kiichain warp route (#1486)
  .changeset/redeploy-kii-kiichain.md
  deployments/warp_routes/KII/kiichain-config.yaml
  deployments/warp_routes/KII/kiichain-deploy.yaml
Due: prettier --write, eslint --fix

fix: changelog
  .changeset/fix-change-fluent-naming.md
Due: prettier --write

fix: fluent naming (#1491)
  .changeset/fix-change-fluent-naming.md
  .changeset/fix-fluent-naming.md
Due: prettier --write

chore: update deps
  .changeset/green-apes-guess.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add nara chain and USDC/USDT/SOL warp routes (#1462)
  .changeset/add-nara-chain.md
  chains/nara/addresses.yaml
  chains/nara/logo.svg
  chains/nara/metadata.yaml
  deployments/warp_routes/SOL/solanamainnet-nara-config.yaml
  deployments/warp_routes/USDC/solanamainnet-nara-config.yaml
  deployments/warp_routes/USDT/solanamainnet-nara-config.yaml
Due: prettier --write, eslint --fix

chore: enable missing connections for USDT/eclipsemainnet
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/red-pigs-watch.md
Due: prettier --write

chore: enable USDT/eclipsemainnet missing connections (#1502)
  .changeset/red-pigs-watch.md
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

chore: disable fraxtal EZETH/renzo
  deployments/warp_routes/EZETH/renzo-prod-config.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/wise-onions-bake.md
Due: prettier --write

chore: remove fraxtal connection in EZETH/renzo route (#1503)
  .changeset/wise-onions-bake.md
  deployments/warp_routes/EZETH/renzo-prod-config.yaml
Due: prettier --write, eslint --fix

disable polynomialfi
  chains/polynomialfi/metadata.yaml
Due: prettier --write, eslint --fix

eth update
  chains/ethereum/addresses.yaml
Due: prettier --write, eslint --fix

chore: add changeset for apr 28 eth ism update
  .changeset/apr-28-eth-ism-update.md
Due: prettier --write

chore: apr 28 eth ism udpate (#1504)
  .changeset/apr-28-eth-ism-update.md
  chains/ethereum/addresses.yaml
  chains/polynomialfi/metadata.yaml
Due: prettier --write, eslint --fix

chore: add scale to USDT/eni
  deployments/warp_routes/USDT/eni-config.yaml
Due: prettier --write, eslint --fix

chore: update deploy file to .yaml, add changeset
  .changeset/strong-beds-compete.md
  deployments/warp_routes/USDT/eni-deploy.yaml
Due: prettier --write, eslint --fix

chore: update USDT/eni scale field and deploy file (#1505)
  .changeset/strong-beds-compete.md
  deployments/warp_routes/USDT/eni-config.yaml
  deployments/warp_routes/USDT/eni-deploy.yaml
Due: prettier --write, eslint --fix

chore: apr 29 deprecations
  chains/artela/metadata.yaml
  chains/fluence/metadata.yaml
  chains/molten/metadata.yaml
  chains/zoramainnet/metadata.yaml
Due: prettier --write, eslint --fix

chore: changeset
  .changeset/apr-29-deprecations.md
Due: prettier --write

chore: apr 29 deprecations (#1506)
  .changeset/apr-29-deprecations.md
  chains/artela/metadata.yaml
  chains/fluence/metadata.yaml
  chains/molten/metadata.yaml
  chains/zoramainnet/metadata.yaml
Due: prettier --write, eslint --fix

chore: added coinGeckoId to USDC/lukso
  deployments/warp_routes/USDC/lukso-config.yaml
Due: prettier --write, eslint --fix

chore: add coinGeckoId to USDC/lukso
  .changeset/three-cows-thank.md
Due: prettier --write

chore: add coinGeckoId to USDC/lukso (#1507)
  .changeset/three-cows-thank.md
  deployments/warp_routes/USDC/lukso-config.yaml
Due: prettier --write, eslint --fix

feat: set evmTarget: paris on legacy EVM chains
  .changeset/legacy-evm-targets.md
  chains/chilizmainnet/metadata.yaml
  chains/coti/metadata.yaml
  chains/electroneum/metadata.yaml
  chains/incentiv/metadata.yaml
  chains/metis/metadata.yaml
  chains/prom/metadata.yaml
  chains/pulsechain/metadata.yaml
  chains/taiko/metadata.yaml
  chains/torus/metadata.yaml
  chains/viction/metadata.yaml
Due: prettier --write, eslint --fix

feat: predicate testnet route
  .changeset/add-predicate-testnet-route.md
  deployments/warp_routes/USDC/predicate-sepolia-basesepolia-config.yaml
  deployments/warp_routes/USDC/predicate-sepolia-basesepolia-deploy.yaml
Due: prettier --write, eslint --fix

feat: add TIBBIR/igra warp route
  .changeset/add-tibbir-igra.md
  deployments/warp_routes/TIBBIR/igra-config.yaml
  deployments/warp_routes/TIBBIR/igra-deploy.yaml
  deployments/warp_routes/TIBBIR/logo.png
Due: prettier --write, eslint --fix

feat: add TIBBIR/igra warp route (#1510)
  .changeset/add-tibbir-igra.md
  deployments/warp_routes/TIBBIR/igra-config.yaml
  deployments/warp_routes/TIBBIR/igra-deploy.yaml
  deployments/warp_routes/TIBBIR/logo.png
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
