Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: add changeset
  .changeset/early-forks-play.md
Due: prettier --write

feat: update edentestnet RPC and add TIA warp route with celestiatestnet
  chains/edentestnet/metadata.yaml
  deployments/warp_routes/TIA/celestiatestnet-edentestnet-config.yaml
  deployments/warp_routes/TIA/celestiatestnet-edentestnet-deploy.yaml
Due: prettier --write, eslint --fix

create changeset
  .changeset/gold-nails-build.md
  chains/edentestnet/metadata.yaml
Due: prettier --write, eslint --fix

fix: update filename `address.yaml` -> `addresses.yaml`
  .changeset/quiet-onions-watch.md
  chains/luksotestnet/addresses.yaml
Due: prettier --write, eslint --fix

fix: update logo for LUKSO Testnet
  .changeset/quiet-onions-watch.md
  chains/luksotestnet/logo.svg
Due: prettier --write

fix: update filename `address.yaml` -> `addresses.yaml` (#1249)
  .changeset/quiet-onions-watch.md
  chains/luksotestnet/addresses.yaml
  chains/luksotestnet/logo.svg
Due: prettier --write, eslint --fix

Redeploy cctpv2 with core 10.0.4
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-config.yaml
Due: prettier --write, eslint --fix

chore: update Hyperlane deps to SDK 19.10.0 and Utils 19.10.0
  .changeset/auto-update-hyperlane-deps-1764169242.md
  package.json
  yarn.lock
Due: prettier --write

fix: use Hyper Gonk GitHub App for release PRs
  .github/workflows/combine.yml
  .github/workflows/release.yml
  .github/workflows/update-hyperlane-deps.yml
Due: none

fix: use Hyper Gonk GitHub App for CI permissions (#1256)
  .github/workflows/combine.yml
  .github/workflows/release.yml
  .github/workflows/update-hyperlane-deps.yml
Due: none

feat: replace PNG logos with SVG for USDSC and wM tokens
  deployments/warp_routes/USDSC/logo.png
  deployments/warp_routes/USDSC/logo.svg
  deployments/warp_routes/USDSC/usdsc-config.yaml
  deployments/warp_routes/wM/logo.png
  deployments/warp_routes/wM/logo.svg
  deployments/warp_routes/wM/wrapped-m-config.yaml
Due: prettier --write, eslint --fix

feat(wM): add warp route for Mantra <-> Ethereum
  .changeset/cyan-impalas-know.md
  deployments/warp_routes/wM/wrapped-m-config.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

Add Warp Routes for wM on Ethereum <-> Mantra (#1247)
  .changeset/cyan-impalas-know.md
  deployments/warp_routes/USDSC/logo.png
  deployments/warp_routes/USDSC/logo.svg
  deployments/warp_routes/USDSC/usdsc-config.yaml
  deployments/warp_routes/wM/logo.png
  deployments/warp_routes/wM/logo.svg
  deployments/warp_routes/wM/wrapped-m-config.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

fix linter with chains/dymension/metadata.yaml
  chains/dymension/metadata.yaml
Due: prettier --write, eslint --fix

specify a real website
  chains/dymension/metadata.yaml
Due: prettier --write, eslint --fix

feat: dymension mainnet chain reg (#1250)
  .changeset/grumpy-plums-return.md
  chains/dymension/addresses.yaml
  chains/dymension/logo.svg
  chains/dymension/metadata.yaml
Due: prettier --write, eslint --fix

fix: use Hyper Gonk identity for git commits
  .github/actions/commit-changes/action.yml
  .github/workflows/combine.yml
  .github/workflows/release.yml
  .github/workflows/update-hyperlane-deps.yml
Due: none

feat: initial superseed ink extension configs
  deployments/warp_routes/USDC/superseed-config.yaml
  deployments/warp_routes/USDC/superseed-deploy.yaml
  deployments/warp_routes/USDC/superseed-ink-config.yaml
  deployments/warp_routes/USDC/superseed-ink-deploy.yaml
Due: prettier --write, eslint --fix

Update .github/workflows/combine.yml
  .github/workflows/combine.yml
Due: none

fix: use Hyper Gonk token for PR comments in check-warp-deploy
  .github/workflows/check-warp-deploy.yaml
Due: prettier --write, eslint --fix

fix: use Hyper Gonk identity for git commits (#1258)
  .github/actions/commit-changes/action.yml
  .github/workflows/check-warp-deploy.yaml
  .github/workflows/combine.yml
  .github/workflows/release.yml
  .github/workflows/update-hyperlane-deps.yml
Due: prettier --write, eslint --fix

Add changeset
  .changeset/sixty-bats-whisper.md
Due: prettier --write

chore: disable inevm
  .changeset/fresh-phones-applaud.md
  chains/inevm/metadata.yaml
Due: prettier --write, eslint --fix

chore: disable inevm (#1260)
  .changeset/fresh-phones-applaud.md
  chains/inevm/metadata.yaml
Due: prettier --write, eslint --fix

logos
  chains/adichain/logo.svg
  chains/megaeth/logo.svg
Due: none

sanitized metadata
  chains/adichain/metadata.yaml
  chains/megaeth/metadata.yaml
Due: prettier --write, eslint --fix

factories
  chains/adichain/addresses.yaml
  chains/megaeth/addresses.yaml
Due: prettier --write, eslint --fix

ica deploy adichain megaeth
  chains/adichain/addresses.yaml
  chains/megaeth/addresses.yaml
Due: prettier --write, eslint --fix

core deploy
  chains/adichain/addresses.yaml
  chains/megaeth/addresses.yaml
Due: prettier --write, eslint --fix

stable metadata
  chains/stable/metadata.yaml
Due: prettier --write, eslint --fix

update adi explorer url
  chains/adichain/metadata.yaml
Due: prettier --write, eslint --fix

factory deploy
  chains/stable/addresses.yaml
Due: prettier --write, eslint --fix

update adichain metadata
  chains/adichain/metadata.yaml
Due: prettier --write, eslint --fix

premainnet stable explorer type
  chains/stable/metadata.yaml
Due: prettier --write, eslint --fix

core deploy
  chains/adichain/addresses.yaml
  chains/lazai/addresses.yaml
  chains/megaeth/addresses.yaml
  chains/somnia/addresses.yaml
  chains/stable/addresses.yaml
Due: prettier --write, eslint --fix

stable ica deploy
  chains/stable/addresses.yaml
Due: prettier --write, eslint --fix

stable logo
  chains/stable/logo.svg
Due: none

changeset
  .changeset/lazy-adults-bathe.md
Due: prettier --write

update megaeth reorgperiod for ci
  chains/megaeth/metadata.yaml
Due: prettier --write, eslint --fix

fix: use bot user ID for proper avatar attribution in commits
  .github/workflows/combine.yml
  .github/workflows/release.yml
  .github/workflows/update-hyperlane-deps.yml
Due: none

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
