Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add ETH/paradex & ETH/paradexsepolia warp route (#1387)
  .changeset/strange-pianos-develop.md
  deployments/warp_routes/ETH/paradex-config.yaml
  deployments/warp_routes/ETH/paradex-deploy.yaml
  deployments/warp_routes/ETH/paradexsepolia-config.yaml
  deployments/warp_routes/ETH/paradexsepolia-deploy.yaml
Due: prettier --write, eslint --fix

Add dark mode chain logos for 19 chains
  chains/abstract/logo-dark.svg
  chains/aleo/logo-dark.svg
  chains/aleotestnet/logo-dark.svg
  chains/berachain/logo-dark.svg
  chains/eclipsemainnet/logo-dark.svg
  chains/edgenchain/logo-dark.svg
  chains/incentiv/logo-dark.svg
  chains/krown/logo-dark.svg
  chains/litchain/logo-dark.svg
  chains/mantle/logo-dark.svg
  chains/megaeth/logo-dark.svg
  chains/neutron/logo-dark.svg
  chains/soneium/logo-dark.svg
  chains/sonic/logo-dark.svg
  chains/sophon/logo-dark.svg
  chains/subtensor/logo-dark.svg
  chains/vana/logo-dark.svg
  chains/worldchain/logo-dark.svg
  chains/xlayer/logo-dark.svg
Due: none

Add dark mode token logos for ALEO, CENT, EDGEN, KROWN, LITKEY
  deployments/warp_routes/ALEO/logo-dark.svg
  deployments/warp_routes/CENT/logo-dark.svg
  deployments/warp_routes/EDGEN/logo-dark.svg
  deployments/warp_routes/KROWN/logo-dark.svg
  deployments/warp_routes/LITKEY/logo-dark.svg
Due: none

Add patch changeset for dark mode logos
  .changeset/dark-logos-added.md
Due: prettier --write

Rename logo-dark.svg to darkmode-logo.svg
  chains/abstract/darkmode-logo.svg
  chains/aleo/darkmode-logo.svg
  chains/aleotestnet/darkmode-logo.svg
  chains/berachain/darkmode-logo.svg
  chains/eclipsemainnet/darkmode-logo.svg
  chains/edgenchain/darkmode-logo.svg
  chains/incentiv/darkmode-logo.svg
  chains/krown/darkmode-logo.svg
  chains/litchain/darkmode-logo.svg
  chains/mantle/darkmode-logo.svg
  chains/megaeth/darkmode-logo.svg
  chains/neutron/darkmode-logo.svg
  chains/soneium/darkmode-logo.svg
  chains/sonic/darkmode-logo.svg
  chains/sophon/darkmode-logo.svg
  chains/subtensor/darkmode-logo.svg
  chains/vana/darkmode-logo.svg
  chains/worldchain/darkmode-logo.svg
  chains/xlayer/darkmode-logo.svg
  deployments/warp_routes/ALEO/darkmode-logo.svg
  deployments/warp_routes/CENT/darkmode-logo.svg
  deployments/warp_routes/EDGEN/darkmode-logo.svg
  deployments/warp_routes/KROWN/darkmode-logo.svg
  deployments/warp_routes/LITKEY/darkmode-logo.svg
Due: none

Fix swapped darkmode logos and integrate into registry system
  chains/neutron/darkmode-logo.svg
  chains/soneium/darkmode-logo.svg
  chains/sonic/darkmode-logo.svg
  chains/sophon/darkmode-logo.svg
  scripts/build.ts
  src/consts.ts
  src/registry/IRegistry.ts
Due: prettier --write

Add dark mode logos for viction, milkyway, and MILK token
  chains/milkyway/darkmode-logo.svg
  chains/viction/darkmode-logo.svg
  deployments/warp_routes/MILK/darkmode-logo.svg
Due: none

chore: add USDTSTAGE warp route deployment config for mode
  deployments/warp_routes/USDTSTAGE/mode-config.yaml
  deployments/warp_routes/USDTSTAGE/mode-deploy.yaml
Due: prettier --write, eslint --fix

chore: add solanamainnet to USDTSTAGE warp route config
  .changeset/usdt-stage-solanamainnet.md
  deployments/warp_routes/USDTSTAGE/mode-config.yaml
Due: prettier --write, eslint --fix

fix: add missing decimals to solanamainnet deploy config
  deployments/warp_routes/USDTSTAGE/mode-deploy.yaml
Due: prettier --write, eslint --fix

chore: update changeset to describe full USDTSTAGE warp route deployment
  .changeset/usdt-stage-solanamainnet.md
Due: prettier --write

feat: add dark mode logos for selected chains and tokens (#1394)
  .changeset/dark-logos-added.md
  chains/abstract/darkmode-logo.svg
  chains/aleo/darkmode-logo.svg
  chains/aleotestnet/darkmode-logo.svg
  chains/berachain/darkmode-logo.svg
  chains/eclipsemainnet/darkmode-logo.svg
  chains/edgenchain/darkmode-logo.svg
  chains/incentiv/darkmode-logo.svg
  chains/krown/darkmode-logo.svg
  chains/litchain/darkmode-logo.svg
  chains/mantle/darkmode-logo.svg
  chains/megaeth/darkmode-logo.svg
  chains/milkyway/darkmode-logo.svg
  chains/neutron/darkmode-logo.svg
  chains/soneium/darkmode-logo.svg
  chains/sonic/darkmode-logo.svg
  chains/sophon/darkmode-logo.svg
  chains/subtensor/darkmode-logo.svg
  chains/vana/darkmode-logo.svg
  chains/viction/darkmode-logo.svg
  chains/worldchain/darkmode-logo.svg
  chains/xlayer/darkmode-logo.svg
  deployments/warp_routes/ALEO/darkmode-logo.svg
  deployments/warp_routes/CENT/darkmode-logo.svg
  deployments/warp_routes/EDGEN/darkmode-logo.svg
  deployments/warp_routes/KROWN/darkmode-logo.svg
  deployments/warp_routes/LITKEY/darkmode-logo.svg
  deployments/warp_routes/MILK/darkmode-logo.svg
  scripts/build.ts
  src/consts.ts
  src/registry/IRegistry.ts
Due: prettier --write

chore: add USDTSTAGE warp route deployment config (#1395)
  .changeset/usdt-stage-solanamainnet.md
  deployments/warp_routes/USDTSTAGE/mode-config.yaml
  deployments/warp_routes/USDTSTAGE/mode-deploy.yaml
Due: prettier --write, eslint --fix

chore(warp-routes): transferred ownership of the btc routes to eden
  deployments/warp_routes/BTC/celestia-config.yaml
  deployments/warp_routes/BTC/celestia-deploy.yaml
  deployments/warp_routes/BTC/eden-config.yaml
  deployments/warp_routes/BTC/eden-deploy.yaml
  deployments/warp_routes/BTC/lbtc-logo.svg
  deployments/warp_routes/BTC/logo.svg
  deployments/warp_routes/WBTC/celestia-deploy.yaml
Due: prettier --write, eslint --fix

chore: pnpm changeset
  .changeset/healthy-donuts-behave.md
Due: prettier --write

chore: transfer ownership
  deployments/warp_routes/ETH/celestia-deploy.yaml
  deployments/warp_routes/ETH/eden-deploy.yaml
Due: prettier --write, eslint --fix

fix: add msising decimals in config
  deployments/warp_routes/BTC/celestia-deploy.yaml
  deployments/warp_routes/BTC/eden-deploy.yaml
Due: prettier --write, eslint --fix

Add MultiCollateral warp route deployment configs
  deployments/warp_routes/MULTI/usdc-arbitrum-base-and-usdt-arbitrum-base-and-mantrausd-mantra-and-usdh-hyperevm-config.yaml
  deployments/warp_routes/USDC/arbitrum-base-config.yaml
  deployments/warp_routes/USDC/arbitrum-base-deploy.yaml
  deployments/warp_routes/USDH/hyperevm-config.yaml
  deployments/warp_routes/USDH/hyperevm-deploy.yaml
  deployments/warp_routes/USDT/arbitrum-base-config.yaml
  deployments/warp_routes/USDT/arbitrum-base-deploy.yaml
  deployments/warp_routes/mantraUSD/mantra-config.yaml
  deployments/warp_routes/mantraUSD/mantra-deploy.yaml
Due: prettier --write, eslint --fix

chore: rename MULTI config to stableswap
  deployments/warp_routes/MULTI/stableswap-config.yaml
Due: prettier --write, eslint --fix

Add coingeckoid and logo
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

feat: Extend ETH and USDC Krown warp routes to Base (#1340)
  .changeset/extend-krown-base.md
  deployments/warp_routes/ETH/krown-config.yaml
  deployments/warp_routes/ETH/krown-deploy.yaml
  deployments/warp_routes/USDC/krown-config.yaml
  deployments/warp_routes/USDC/krown-deploy.yaml
Due: prettier --write, eslint --fix

chore: update USDT/eni connections to only include bsc <> eni
  deployments/warp_routes/USDT/eni-config.yaml
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/tough-snakes-brake.md
Due: prettier --write

chore: update USDT/eni connections to only include bsc <> eni (#1396)
  .changeset/tough-snakes-brake.md
  deployments/warp_routes/USDT/eni-config.yaml
Due: prettier --write, eslint --fix

fix: use WarpCoreConfig format for ETHSTAGE config file
  deployments/warp_routes/ETHSTAGE/mode-config.yaml
Due: prettier --write, eslint --fix

feat: deploy ETHSTAGE route
  deployments/warp_routes/ETHSTAGE/mode-config.yaml
  deployments/warp_routes/ETHSTAGE/mode-deploy.yaml
Due: prettier --write, eslint --fix

refactor: rename warp route to ETH/stage and update symbol
  deployments/warp_routes/ETH/stage-config.yaml
  deployments/warp_routes/ETH/stage-deploy.yaml
  deployments/warp_routes/ETHSTAGE/mode-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset for ETH/stage warp route
  .changeset/eth-stage-deployment.md
Due: prettier --write

fix: revert token symbol to ETHSTAGE to match on-chain deployment
  deployments/warp_routes/ETH/stage-config.yaml
  deployments/warp_routes/ETH/stage-deploy.yaml
Due: prettier --write, eslint --fix

refactor: move warp route to ETHSTAGE/stage for ID consistency
  .changeset/eth-stage-deployment.md
  chains/schema.json
  deployments/warp_routes/ETHSTAGE/stage-config.yaml
  deployments/warp_routes/ETHSTAGE/stage-deploy.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

feat: deploy ETHSTAGE route (#1343)
  .changeset/eth-stage-deployment.md
  chains/schema.json
  deployments/warp_routes/ETHSTAGE/stage-config.yaml
  deployments/warp_routes/ETHSTAGE/stage-deploy.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

Include new chains in solana
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

Use proxyAdmin.owner instead of ownerOverrides, which transfers the existing proxyAdmin to another
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

feat: trontestnet deployment
  chains/trontestnet/addresses.yaml
  chains/trontestnet/logo.svg
  chains/trontestnet/metadata.yaml
Due: prettier --write, eslint --fix

docs: changeset
  .changeset/tender-sloths-bake.md
Due: prettier --write

chore: add grpc urls
  chains/trontestnet/metadata.yaml
Due: prettier --write, eslint --fix

chore: update logo
  chains/trontestnet/logo.svg
Due: none

feat: add eUSD/celestia and eUSD/eden deployment artifacts
  deployments/warp_routes/eUSD/celestia-config.yaml
  deployments/warp_routes/eUSD/celestia-deploy.yaml
  deployments/warp_routes/eUSD/eden-config.yaml
  deployments/warp_routes/eUSD/eden-deploy.yaml
  deployments/warp_routes/eUSD/logo.svg
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/nervous-badgers-repeat.md
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
