Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: remove Moonpay ETH warp route
  deployments/warp_routes/ETH/arbitrum-base-blast-bsc-ethereum-gnosis-lisk-mantle-mode-optimism-polygon-scroll-zeronetwork-zoramainnet-config.yaml
  deployments/warp_routes/ETH/arbitrum-base-blast-bsc-ethereum-gnosis-lisk-mantle-mode-optimism-polygon-scroll-zeronetwork-zoramainnet-deploy.yaml
Due: prettier --write, eslint --fix

feat(warp-routes): deployed sol and wbtc testnet routes connected to aleo
  chains/aleotestnet/metadata.yaml
  deployments/warp_routes/SOL/aleotestnet-config.yaml
  deployments/warp_routes/SOL/aleotestnet-deploy.yaml
  deployments/warp_routes/WBTC/aleotestnet-config.yaml
  deployments/warp_routes/WBTC/aleotestnet-deploy.yaml
Due: prettier --write, eslint --fix

feat: add aleotestnet usdc and usdt
  deployments/warp_routes/USDC/aleotestnet-config.yaml
  deployments/warp_routes/USDC/aleotestnet-deploy.yaml
  deployments/warp_routes/USDT/aleotestnet-config.yaml
  deployments/warp_routes/USDT/aleotestnet-deploy.yaml
Due: prettier --write, eslint --fix

feat: set blacklist isms for krown routes
  deployments/warp_routes/ETH/krown-deploy.yaml
  deployments/warp_routes/USDC/krown-deploy.yaml
  deployments/warp_routes/USDT/krown-deploy.yaml
Due: prettier --write, eslint --fix

feat: add changeset
  .changeset/happy-impalas-drum.md
Due: prettier --write

feat: include config tree
  deployments/warp_routes/ETH/krown-deploy.yaml
  deployments/warp_routes/USDC/krown-deploy.yaml
  deployments/warp_routes/USDT/krown-deploy.yaml
Due: prettier --write, eslint --fix

Generate krown ISM configs
  deployments/warp_routes/ETH/krown-deploy.yaml
  deployments/warp_routes/USDC/krown-deploy.yaml
  deployments/warp_routes/USDT/krown-deploy.yaml
Due: prettier --write, eslint --fix

fix: fixed sol alestestnet deployment
  deployments/warp_routes/SOL/aleotestnet-config.yaml
  deployments/warp_routes/SOL/aleotestnet-deploy.yaml
  deployments/warp_routes/WBTC/aleotestnet-deploy.yaml
Due: prettier --write, eslint --fix

fix: fixed sepolia etherscan api key
  chains/sepolia/metadata.yaml
Due: prettier --write, eslint --fix

chore: add changeset for aleotestnet warp routes
  .changeset/add-aleotestnet-warp-routes.md
Due: prettier --write

fix(registry): avoid sdk root runtime imports
  .changeset/lightweight-sdk-imports.md
  package.json
  pnpm-lock.yaml
  src/fs/FileSystemRegistry.ts
  src/registry/BaseRegistry.ts
  src/registry/GithubRegistry.ts
  src/registry/HttpClientRegistry.ts
  src/registry/IRegistry.ts
  src/registry/MergedRegistry.ts
  src/registry/PartialRegistry.ts
  src/registry/SynchronousRegistry.ts
  src/registry/warp-utils.ts
  src/types.ts
  src/utils.ts
Due: prettier --write, eslint --fix

fix(registry): avoid sdk root runtime imports (#1524)
  .changeset/lightweight-sdk-imports.md
  package.json
  pnpm-lock.yaml
  src/fs/FileSystemRegistry.ts
  src/registry/BaseRegistry.ts
  src/registry/GithubRegistry.ts
  src/registry/HttpClientRegistry.ts
  src/registry/IRegistry.ts
  src/registry/MergedRegistry.ts
  src/registry/PartialRegistry.ts
  src/registry/SynchronousRegistry.ts
  src/registry/warp-utils.ts
  src/types.ts
  src/utils.ts
Due: prettier --write, eslint --fix

Updated
  deployments/warp_routes/ETH/krown-deploy.yaml
  deployments/warp_routes/USDC/krown-deploy.yaml
  deployments/warp_routes/USDT/krown-deploy.yaml
Due: prettier --write, eslint --fix

feat: add NEX/bsc warp route
  .changeset/add-nex-bsc.md
  deployments/warp_routes/NEX/bsc-config.yaml
  deployments/warp_routes/NEX/bsc-deploy.yaml
  deployments/warp_routes/NEX/logo.png
Due: prettier --write, eslint --fix

feat: add NEX/bsc warp route (#1526)
  .changeset/add-nex-bsc.md
  deployments/warp_routes/NEX/bsc-config.yaml
  deployments/warp_routes/NEX/bsc-deploy.yaml
  deployments/warp_routes/NEX/logo.png
Due: prettier --write, eslint --fix

feat: add mUSD (Ethereum, Monad) warp route
  .changeset/cyan-badgers-serve.md
  deployments/warp_routes/mUSD/musd-config.yaml
  deployments/warp_routes/mUSD/musd-portal-lite-config.yaml
Due: prettier --write, eslint --fix

chore: update Zero Network explorer URL
  .changeset/update-zeronetwork-explorer.md
  chains/zeronetwork/metadata.yaml
Due: prettier --write, eslint --fix

chore: update Zero Network explorer URL (#1529)
  .changeset/update-zeronetwork-explorer.md
  chains/zeronetwork/metadata.yaml
Due: prettier --write, eslint --fix

feat: add mUSD (Ethereum, Monad) warp route (#1528)
  .changeset/cyan-badgers-serve.md
  deployments/warp_routes/mUSD/musd-config.yaml
  deployments/warp_routes/mUSD/musd-portal-lite-config.yaml
Due: prettier --write, eslint --fix

fix: update krown reorg period
  .changeset/krown-finality.md
  chains/krown/metadata.yaml
  chains/metadata.yaml
Due: prettier --write, eslint --fix

fix: update krown reorg period (#1530)
  .changeset/krown-finality.md
  chains/krown/metadata.yaml
  chains/metadata.yaml
Due: prettier --write, eslint --fix

fix: removed warp fees from NEX/bsc
  .changeset/cyan-deers-act.md
  deployments/warp_routes/NEX/bsc-deploy.yaml
Due: prettier --write, eslint --fix

Create metadata.yaml
  chains/bourse/metadata.yaml
Due: prettier --write, eslint --fix

Add metadata for Bourse blockchain configuration
  chains/bourse/metadata.yaml
Due: prettier --write, eslint --fix

Add addresses.yaml for bourse chain
  chains/bourse/addresses.yaml
Due: prettier --write, eslint --fix

Add bourse chain metadata and contract addresses
  .changeset/bourse-add.md
Due: prettier --write

Add files via upload
  chains/bourse/logo.svg
Due: none

fix: removed warp fees from NEX/bsc (#1531)
  .changeset/cyan-deers-act.md
  deployments/warp_routes/NEX/bsc-deploy.yaml
Due: prettier --write, eslint --fix

chore: update eden ISM address and add quotedCalls
  .changeset/eden-ism-quoted-calls.md
  chains/eden/addresses.yaml
Due: prettier --write, eslint --fix

chore: update eden ISM address and add quotedCalls (#1533)
  .changeset/eden-ism-quoted-calls.md
  chains/eden/addresses.yaml
Due: prettier --write, eslint --fix

fix: point WARD/ward-base at the production Base↔Warden route
  .changeset/ward-base-canonical-addresses.md
  deployments/warp_routes/WARD/ward-base-config.yaml
Due: prettier --write, eslint --fix

fix: point WARD/ward-base at the production Base↔Warden route (#1534)
  .changeset/ward-base-canonical-addresses.md
  deployments/warp_routes/WARD/ward-base-config.yaml
Due: prettier --write, eslint --fix

feat: predicate testnet route (#1509)
  .changeset/add-predicate-testnet-route.md
  deployments/warp_routes/USDC/predicate-sepolia-basesepolia-config.yaml
  deployments/warp_routes/USDC/predicate-sepolia-basesepolia-deploy.yaml
Due: prettier --write, eslint --fix

chore: migrate to pnpm 11
  .github/workflows/combine.yml
  .github/workflows/update-hyperlane-deps.yml
  package.json
Due: prettier --write

ci: handle pnpm 11 installs
  .github/actions/pnpm-cache/action.yml
Due: none

ci: simplify pnpm cache keys
  .github/actions/pnpm-cache/action.yml
Due: none

ci: allow pnpm registry builds
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

chore: add empty changeset
  .changeset/large-beans-kick.md
Due: prettier --write

chore: add registry pnpm changeset
  .changeset/large-beans-kick.md
Due: prettier --write

ci: read node version from nvmrc
  .github/workflows/combine.yml
  .github/workflows/update-hyperlane-deps.yml
Due: none

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
