Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: use bot user ID for proper avatar attribution in commits (#1262)
  .github/workflows/combine.yml
  .github/workflows/release.yml
  .github/workflows/update-hyperlane-deps.yml
Due: none

feat: add USDC/sepolia-luksotestnet
  deployments/warp_routes/USDC/sepolia-luksotestnet-config.yaml
  deployments/warp_routes/USDC/sepolia-luksotestnet-deploy.yaml
Due: prettier --write, eslint --fix

feat: deploy to megaeth, stable, adichain (#1261)
  .changeset/lazy-adults-bathe.md
  chains/adichain/addresses.yaml
  chains/adichain/logo.svg
  chains/adichain/metadata.yaml
  chains/lazai/addresses.yaml
  chains/megaeth/addresses.yaml
  chains/megaeth/logo.svg
  chains/megaeth/metadata.yaml
  chains/somnia/addresses.yaml
  chains/stable/addresses.yaml
  chains/stable/logo.svg
  chains/stable/metadata.yaml
Due: prettier --write, eslint --fix

feat: extended xrd warp route to base
  deployments/warp_routes/XRD/radix-config.yaml
  deployments/warp_routes/XRD/radix-deploy.yaml
Due: prettier --write, eslint --fix

fix(ci): pass GitHub App token to checkout for workflow triggering
  .github/workflows/release.yml
Due: none

fix(ci): pass GitHub App token to checkout for workflow triggering (#1264)
  .github/workflows/release.yml
Due: none

feat: update to ink leg on superseed route, new cctp config, and warpRouteId
  deployments/warp_routes/USDC/arbitrum-base-ethereum-ink-optimism-solanamainnet-superseed-deploy.yaml
  deployments/warp_routes/USDC/superseed-config.yaml
  deployments/warp_routes/USDC/superseed-deploy.yaml
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/tall-rings-cry.md
Due: prettier --write

chore: remove llamarpc from Ethereum RPC list
  .changeset/polite-zebras-flash.md
  chains/ethereum/metadata.yaml
Due: prettier --write, eslint --fix

chore: remove llamarpc from Ethereum RPC list (#1268)
  .changeset/polite-zebras-flash.md
  chains/ethereum/metadata.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/eight-plums-sip.md
Due: prettier --write

feat: add more grpc urls for celestiatestnet
  .changeset/sparkly-terms-brush.md
  chains/celestiatestnet/metadata.yaml
  chains/metadata.yaml
Due: prettier --write, eslint --fix

feat(registry): defined the IRegistryWriteMethod type
  src/registry/IRegistry.ts
Due: prettier --write

feat(registry): implmented the ReadonlyRegistry
  src/registry/ReadonlyRegistry.ts
Due: prettier --write

test(registry): implmented unit tests for the ReadonlyRegistry
  test/unit/registry.test.ts
Due: prettier --write

chore: yarn changeset
  .changeset/strange-apricots-search.md
Due: prettier --write

chore yorke pr review
  src/registry/IRegistry.ts
Due: prettier --write

Add Stable config
  deployments/warp_routes/EZETH/renzo-prod-deploy.yaml
Due: prettier --write, eslint --fix

chore: paradex & starknet validator rotation (#1205)
  .changeset/purple-walls-shave.md
  chains/paradex/addresses.yaml
  chains/starknet/addresses.yaml
Due: prettier --write, eslint --fix

feat: added aleotestnet metadata
  .changeset/eight-timers-fix.md
  chains/aleotestnet/logo.svg
  chains/aleotestnet/metadata.yaml
Due: prettier --write, eslint --fix

chore: remove bech32 prefix
  chains/aleotestnet/metadata.yaml
Due: prettier --write, eslint --fix

claude: feat(warp-routes): add KAS warp route for Dymension-Ethereum
  deployments/warp_routes/KAS/dymension-ethereum-config.yaml
  deployments/warp_routes/KAS/logo.svg
Due: prettier --write, eslint --fix

Add EZETHSTAGE Stable config
  deployments/warp_routes/EZETHSTAGE/renzo-stage-config.yaml
  deployments/warp_routes/EZETHSTAGE/renzo-stage-deploy.yaml
Due: prettier --write, eslint --fix

Add EZETHPROD Stable config
  deployments/warp_routes/EZETH/renzo-prod-config.yaml
  deployments/warp_routes/EZETH/renzo-prod-deploy.yaml
Due: prettier --write, eslint --fix

claude: feat(warp-routes): add ETH warp route for Dymension-Ethereum
  deployments/warp_routes/ETH/dymension-ethereum-config.yaml
Due: prettier --write, eslint --fix

claude: feat(warp-routes): add DYM warp route for Dymension-Ethereum
  deployments/warp_routes/DYM/dymension-ethereum-config.yaml
  deployments/warp_routes/DYM/logo.svg
Due: prettier --write, eslint --fix

claude: fix(warp-routes): use standard EvmHypNative instead of Memo variant
  deployments/warp_routes/ETH/dymension-ethereum-config.yaml
Due: prettier --write, eslint --fix

claude: fix(warp-routes): use standard EvmHypSynthetic instead of Memo variant
  deployments/warp_routes/DYM/dymension-ethereum-config.yaml
Due: prettier --write, eslint --fix

claude: chore: add changeset for KAS warp route
  .changeset/kas-dymension-warp-route.md
Due: prettier --write

claude: chore: add changeset for ETH warp route
  .changeset/eth-dymension-warp-route.md
Due: prettier --write

claude: chore: add changeset and fix lint for DYM warp route
  .changeset/dym-dymension-warp-route.md
  deployments/warp_routes/DYM/dymension-ethereum-config.yaml
Due: prettier --write, eslint --fix

chore: migrate from yarn to pnpm
  .github/actions/pnpm-cache/action.yml
  .github/actions/yarn-install-with-cache/action.yml
  .github/workflows/ci.yml
  .github/workflows/combine.yml
  .github/workflows/release.yml
  .github/workflows/rpc-healthcheck.yml
  .github/workflows/update-hyperlane-deps.yml
  .gitignore
  .husky/pre-commit
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write, eslint --fix

fix: ci
  chains/aleotestnet/metadata.yaml
Due: prettier --write, eslint --fix

update arcadia staticAggregationHookFactory
  chains/arcadia/addresses.yaml
Due: prettier --write, eslint --fix

fix: allow pnpm-lock.yaml in root directory validation and add empty changeset
  .changeset/grumpy-buckets-sparkle.md
  scripts/validate-file-path.js
Due: prettier --write

chore: aleo addresses
  chains/aleotestnet/addresses.yaml
Due: prettier --write, eslint --fix

fix: lint
  chains/aleotestnet/addresses.yaml
Due: prettier --write, eslint --fix

fix: use actual addresses
  chains/aleotestnet/addresses.yaml
Due: prettier --write, eslint --fix

update arcadia default ism
  chains/arcadia/addresses.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
