Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(registry): add Solana CCR routers to ctusd subroutes
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

feat: mar 27 mainnets
  chains/fluent/logo.svg
  chains/fluent/metadata.yaml
  chains/kiichain/logo.svg
  chains/kiichain/metadata.yaml
  chains/mocachain/logo.svg
  chains/mocachain/metadata.yaml
  chains/tempo/logo.svg
  chains/tempo/metadata.yaml
Due: prettier --write, eslint --fix

factory deploy
  chains/fluent/addresses.yaml
  chains/kiichain/addresses.yaml
  chains/mocachain/addresses.yaml
  chains/tempo/addresses.yaml
Due: prettier --write, eslint --fix

feat(registry): add solana fee configs for ctusd subroutes
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

feat: add ql1 metadata
  chains/ql1/addresses.yaml
Due: prettier --write, eslint --fix

Create metadata.yaml
  metadata.yaml
Due: prettier --write, eslint --fix

deploy
  chains/fluent/addresses.yaml
  chains/kiichain/addresses.yaml
  chains/mocachain/addresses.yaml
  chains/tempo/addresses.yaml
Due: prettier --write, eslint --fix

build
  chains/addresses.yaml
  chains/metadata.yaml
Due: prettier --write, eslint --fix

make ci green again
  .changeset/rare-emus-compete.md
  scripts/validate-svg.js
Due: prettier --write

Logo.svg
  chains/IMG_9247.jpeg
Due: none

feat(registry): add ctusd ism configs
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

chore: update configs
  deployments/warp_routes/USDT/eclipse-config.yaml
  deployments/warp_routes/USDT/eclipse-deploy.yaml
Due: prettier --write, eslint --fix

chore: update to proper owners
  deployments/warp_routes/USDT/eclipse-deploy.yaml
Due: prettier --write, eslint --fix

chore(docs): add changeset
  .changeset/young-socks-decide.md
Due: prettier --write

chore: add logos and coingecko ids
  deployments/warp_routes/USDT/eclipse-config.yaml
Due: prettier --write, eslint --fix

chore: add rise logo
  deployments/warp_routes/RISE/logo.svg
Due: none

ci: enforce minimum package release age in pnpm for supply chain protection
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

ci: enforce minimum package release age in pnpm (#1445)
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

fix: allow pnpm-workspace.yaml in file path validation
  scripts/validate-file-path.js
Due: prettier --write

feat: mar 27 mainnets (#1443)
  .changeset/rare-emus-compete.md
  chains/addresses.yaml
  chains/fluent/addresses.yaml
  chains/fluent/logo.svg
  chains/fluent/metadata.yaml
  chains/kiichain/addresses.yaml
  chains/kiichain/logo.svg
  chains/kiichain/metadata.yaml
  chains/metadata.yaml
  chains/mocachain/addresses.yaml
  chains/mocachain/logo.svg
  chains/mocachain/metadata.yaml
  chains/tempo/addresses.yaml
  chains/tempo/logo.svg
  chains/tempo/metadata.yaml
  scripts/validate-file-path.js
  scripts/validate-svg.js
Due: prettier --write, eslint --fix

feat(warp-routes): updated usdc eclipse wr deploy config
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

fix(registry): remove base-citrea usdc ctusd bridges
  deployments/warp_routes/USDC/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

feat(warp-routes): deployed the bsc and katana legs
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

feat: add USDT/oft warp route deployment artifacts
  deployments/warp_routes/USDT/oft-config.yaml
  deployments/warp_routes/USDT/oft-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset for USDT/oft warp route
  .changeset/usdt-oft-warp-route.md
Due: prettier --write

fix: warp route id
  deployments/warp_routes/RISE/bsc-ethereum-config.yaml
  deployments/warp_routes/RISE/bsc-ethereum-deploy.yaml
Due: prettier --write, eslint --fix

fix: warp route changeset
  .changeset/twelve-pugs-turn.md
Due: prettier --write

fix: add logo uri
  deployments/warp_routes/RISE/bsc-ethereum-config.yaml
Due: prettier --write, eslint --fix

chore: add rebalancing bridges config
  deployments/warp_routes/USDT/eclipse-deploy.yaml
Due: prettier --write, eslint --fix

feat: add RISE/rise warp rotue (#1435)
  .changeset/twelve-pugs-turn.md
  deployments/warp_routes/RISE/bsc-ethereum-config.yaml
  deployments/warp_routes/RISE/bsc-ethereum-deploy.yaml
  deployments/warp_routes/RISE/logo.svg
Due: prettier --write, eslint --fix

feat: add USDT/oft-legacy warp route deployment artifacts
  deployments/warp_routes/USDT/oft-legacy-config.yaml
  deployments/warp_routes/USDT/oft-legacy-deploy.yaml
Due: prettier --write, eslint --fix

chore: update USDT/oft deploy config with production owners
  deployments/warp_routes/USDT/oft-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset for USDT/oft-legacy warp route
  .changeset/usdt-oft-legacy-warp-route.md
Due: prettier --write

chore: rename to USDT/eclipsemainnet
  .changeset/young-socks-decide.md
  deployments/warp_routes/USDT/eclipsemainnet-config.yaml
  deployments/warp_routes/USDT/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/cyan-books-rest.md
Due: prettier --write

chore: add legacy rebalancing bridges
  deployments/warp_routes/USDT/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

feat(registry): sync ctusd quoted fee signers
  deployments/warp_routes/USDC/ctusd-deploy.yaml
  deployments/warp_routes/USDT/ctusd-deploy.yaml
Due: prettier --write, eslint --fix

Create addresses.yaml
  chains/turkchain/addresses.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
