Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add files via upload
  deployments/warp_routes/USDT/ethereum-turkchain-config.yaml
  deployments/warp_routes/USDT/ethereum-turkchain-deploy.yaml
Due: prettier --write, eslint --fix

Add Ethereum ↔ TurkChain TURK Warp Route
  deployments/warp_routes/TURK/ethereum-turkchain-config.yaml
Due: prettier --write, eslint --fix

Add Ethereum and Turkchain deployment configurations
  deployments/warp_routes/TURK/ethereum-turkchain-deploy.yaml
Due: prettier --write, eslint --fix

feat: add solanadevnet leg
  deployments/warp_routes/USDC/testnet-cctp-v2-fast-deploy.yaml
Due: prettier --write, eslint --fix

add cookiechain metadata
  chains/cookiechain/metadata.yaml
Due: prettier --write, eslint --fix

add cookiechain addresses
  chains/cookiechain/addresses.yaml
Due: prettier --write, eslint --fix

add cookiechain logo
  chains/cookiechain/logo.svg
Due: none

add changeset
  .changeset/add-cookiechain.md
Due: prettier --write

use official cookie logo
  chains/cookiechain/logo.svg
Due: none

fix native token symbol to COOK
  chains/cookiechain/metadata.yaml
Due: prettier --write, eslint --fix

docs(warp): add hook/ISM rationale + quorums to changeset
  .changeset/incentiv-eni-warp-reconcile.md
Due: prettier --write

fix(warp): pin Incentiv/ENI route configs to on-chain (#1608)
  .changeset/incentiv-eni-warp-reconcile.md
  deployments/warp_routes/CENT/incentiv-deploy.yaml
  deployments/warp_routes/SOL/incentiv-deploy.yaml
  deployments/warp_routes/USDC/incentiv-deploy.yaml
  deployments/warp_routes/USDT/incentiv-deploy.yaml
  deployments/warp_routes/WBTC/incentiv-deploy.yaml
  deployments/warp_routes/WETH/incentiv-deploy.yaml
Due: prettier --write, eslint --fix

feat: solanadevnet usdc cctp extension
  deployments/warp_routes/USDC/testnet-cctp-v2-fast-config.yaml
  deployments/warp_routes/USDC/testnet-cctp-v2-fast-deploy.yaml
Due: prettier --write, eslint --fix

fix: raise maxFeeBps for arbitrum, linea, unichain on USDC CCTP v2 fast route
  .changeset/usdc-cctp-v2-fast-maxfeebps.md
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): update USDC CCTP arbitrum/base owners to AW ICAs
  .changeset/cctp-owner-ica-transfer.md
  deployments/warp_routes/USDC/mainnet-cctp-deploy.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-deploy.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): update USDC CCTP arbitrum/base owners to AW ICAs (#1615)
  .changeset/cctp-owner-ica-transfer.md
  deployments/warp_routes/USDC/mainnet-cctp-deploy.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-deploy.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): add subtensor/solanamainnet rebalancing bridges to USDC/subtensor
  deployments/warp_routes/USDC/subtensor-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): pin LUMIA proxyAdmin owner to on-chain value
  deployments/warp_routes/LUMIA/arbitrum-avalanche-base-bsc-ethereum-lumiaprism-optimism-polygon-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset for USDC/subtensor rebalancing bridges
  .changeset/usdc-subtensor-rebalancing-bridges.md
Due: prettier --write

chore: add changeset for LUMIA proxyAdmin owner fix
  .changeset/lumia-proxyadmin-owner-onchain.md
Due: prettier --write

fix(warp): pin LUMIA proxyAdmin owner to on-chain value (#1617)
  .changeset/lumia-proxyadmin-owner-onchain.md
  deployments/warp_routes/LUMIA/arbitrum-avalanche-base-bsc-ethereum-lumiaprism-optimism-polygon-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): add subtensor/solanamainnet rebalancing bridges to USDC/subtensor (#1616)
  .changeset/usdc-subtensor-rebalancing-bridges.md
  deployments/warp_routes/USDC/subtensor-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): pin HOLO SVM synthetic scale to on-chain value
  .changeset/warp-holo-scale-pin.md
  deployments/warp_routes/HOLO/bsc-solanamainnet-config.yaml
  deployments/warp_routes/HOLO/bsc-solanamainnet-deploy.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

fix(warp): pin direction-sensitive owner/type drifts to on-chain
  .changeset/warp-onchain-owner-type-pin.md
  deployments/warp_routes/Bonk/starknet-deploy.yaml
  deployments/warp_routes/ETH/paradex-deploy.yaml
  deployments/warp_routes/Fartcoin/apechain-solanamainnet-deploy.yaml
  deployments/warp_routes/JUP/starknet-deploy.yaml
  deployments/warp_routes/PENGU/apechain-solanamainnet-deploy.yaml
  deployments/warp_routes/TRUMP/starknet-deploy.yaml
  deployments/warp_routes/UFD/apechain-solanamainnet-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): revert ETH/paradex type pin (collateralDex is a checker gap)
  .changeset/warp-onchain-owner-type-pin.md
  deployments/warp_routes/ETH/paradex-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): pin WBTC/eclipse ethereum proxyAdmin owner override to on-chain
  .changeset/wbtc-eclipse-proxyadmin-owner-pin.md
  deployments/warp_routes/WBTC/eclipsemainnet-ethereum-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): pin Bonk/JUP/TRUMP starknet destinationGas to on-chain 5000000
  .changeset/starknet-destgas-pin.md
  deployments/warp_routes/Bonk/starknet-deploy.yaml
  deployments/warp_routes/JUP/starknet-deploy.yaml
  deployments/warp_routes/TRUMP/starknet-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): resolve solanamainnet->starknet destinationGas drifts (#1620)
  .changeset/starknet-destgas-pin.md
  deployments/warp_routes/Bonk/starknet-deploy.yaml
  deployments/warp_routes/JUP/starknet-deploy.yaml
  deployments/warp_routes/TRUMP/starknet-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): pin USDC/ancient8 ethereum proxyAdmin owner override to on-chain
  .changeset/wbtc-eclipse-proxyadmin-owner-pin.md
  deployments/warp_routes/USDC/ancient8-ethereum-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): pin WBTC/eclipse ethereum proxyAdmin owner override to on-chain (#1619)
  .changeset/wbtc-eclipse-proxyadmin-owner-pin.md
  deployments/warp_routes/USDC/ancient8-ethereum-deploy.yaml
  deployments/warp_routes/WBTC/eclipsemainnet-ethereum-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): pin HOLO scale + direction-sensitive owner drifts to on-chain (#1618)
  .changeset/warp-holo-scale-pin.md
  .changeset/warp-onchain-owner-type-pin.md
  deployments/warp_routes/Bonk/starknet-deploy.yaml
  deployments/warp_routes/Fartcoin/apechain-solanamainnet-deploy.yaml
  deployments/warp_routes/HOLO/bsc-solanamainnet-config.yaml
  deployments/warp_routes/HOLO/bsc-solanamainnet-deploy.yaml
  deployments/warp_routes/JUP/starknet-deploy.yaml
  deployments/warp_routes/PENGU/apechain-solanamainnet-deploy.yaml
  deployments/warp_routes/TRUMP/starknet-deploy.yaml
  deployments/warp_routes/UFD/apechain-solanamainnet-deploy.yaml
  deployments/warp_routes/warpRouteConfigs.yaml
Due: prettier --write, eslint --fix

feat(warp): add mantle to KII/kiichain warp route
  .changeset/kii-mantle-route.md
  deployments/warp_routes/KII/kiichain-config.yaml
  deployments/warp_routes/KII/kiichain-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): pin KYVE kyve leg to on-chain collateral config
  deployments/warp_routes/KYVE/base-kyve-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset for KYVE on-chain collateral pin
  .changeset/kyve-onchain-collateral-pin.md
Due: prettier --write

fix(warp): pin KYVE kyve leg to on-chain collateral config (#1622)
  .changeset/kyve-onchain-collateral-pin.md
  deployments/warp_routes/KYVE/base-kyve-deploy.yaml
Due: prettier --write, eslint --fix

fix: accept on-chain KYVE/base-kyve kyve leg as ukyve collateral
  deployments/warp_routes/KYVE/base-kyve-deploy.yaml
Due: prettier --write, eslint --fix

fix(warp): key ctUSD/citrea rebalancing bridges by domain id
  deployments/warp_routes/ctUSD/citrea-deploy.yaml
Due: prettier --write, eslint --fix

chore: add changeset for ctUSD/citrea bridge re-key
  .changeset/ctusd-citrea-bridge-domain-keys.md
Due: prettier --write

fix(warp): key ctUSD/citrea rebalancing bridges by domain id (#1624)
  .changeset/ctusd-citrea-bridge-domain-keys.md
  deployments/warp_routes/ctUSD/citrea-deploy.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
