Repository hyperlane-xyz/hyperlane-registry: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add SOL/incentiv warp routes artifacts (#1217)
  .changeset/two-monkeys-drive.md
  chains/incentiv/metadata.yaml
  deployments/warp_routes/SOL/incentiv-config.yaml
  deployments/warp_routes/SOL/incentiv-deploy.yaml
Due: prettier --write, eslint --fix

feat: Add ink, monad, xlayer for ezeth (#1213)
  .changeset/smooth-roses-travel.md
  deployments/warp_routes/EZETH/renzo-prod-config.yaml
  deployments/warp_routes/EZETH/renzo-prod-deploy.yaml
  deployments/warp_routes/EZETHSTAGE/renzo-stage-config.yaml
  deployments/warp_routes/EZETHSTAGE/renzo-stage-deploy.yaml
Due: prettier --write, eslint --fix

rename core config file
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

update router and proxy admin ownership
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Redeploy standard
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-config.yaml
Due: prettier --write, eslint --fix

Redeploy fast
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-config.yaml
Due: prettier --write, eslint --fix

chore: update starknet sepolia rpcs
  chains/starknetsepolia/metadata.yaml
Due: prettier --write, eslint --fix

chore: changeset
  .changeset/hot-impalas-beam.md
Due: prettier --write

arb + base extentiosn (missing enrollements to solana and eclipse)
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

manually add non-evm enrollements
  deployments/warp_routes/USDC/eclipsemainnet-config.yaml
Due: prettier --write, eslint --fix

chore: remove deprecated starknet RPC
  chains/starknet/metadata.yaml
Due: prettier --write, eslint --fix

changeset
  .changeset/mighty-ants-call.md
Due: prettier --write

chore: remove deprecated starknet RPC (#1220)
  .changeset/mighty-ants-call.md
  chains/starknet/metadata.yaml
Due: prettier --write, eslint --fix

chore: update starknet sepolia rpcs (#1218)
  .changeset/hot-impalas-beam.md
  chains/starknetsepolia/metadata.yaml
Due: prettier --write, eslint --fix

chore: remove connections from monad in ezeth
  deployments/warp_routes/EZETH/renzo-prod-config.yaml
Due: prettier --write, eslint --fix

chore: add changeset
  .changeset/early-grapes-own.md
Due: prettier --write

chore: remove connection to monad for ezeth prod (#1221)
  .changeset/early-grapes-own.md
  deployments/warp_routes/EZETH/renzo-prod-config.yaml
Due: prettier --write, eslint --fix

feat: deploy CCTP v2 (#1215)
  .changeset/fuzzy-brooms-train.md
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-config.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-fast-deploy.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-config.yaml
  deployments/warp_routes/USDC/mainnet-cctp-v2-standard-deploy.yaml
Due: prettier --write, eslint --fix

chore: add `LITKEY` metadata
  .changeset/wise-forks-rhyme.md
  deployments/warp_routes/LITKEY/metadata.json
Due: prettier --write

chore: lint
  deployments/warp_routes/LITKEY/metadata.json
Due: prettier --write

chore: add `LITKEY` metadata (#1222)
  .changeset/wise-forks-rhyme.md
  deployments/warp_routes/LITKEY/metadata.json
Due: prettier --write

Add everclear warp route
  deployments/warp_routes/ETH/mainnet-everclear-deploy.yaml
Due: prettier --write, eslint --fix

chore: extend `TIA/mantapacific` (#1173)
  .changeset/little-shirts-kneel.md
  deployments/warp_routes/TIA/mantapacific-config.yaml
  deployments/warp_routes/TIA/mantapacific-deploy.yaml
Due: prettier --write, eslint --fix

chore: deploy
  deployments/warp_routes/LITKEY/litchain-config.yaml
  deployments/warp_routes/LITKEY/litchain-deploy.yaml
Due: prettier --write, eslint --fix

refactor: `TIA/arbitrum`
  .changeset/smart-rules-happen.md
  deployments/warp_routes/TIA/arbitrum-config.yaml
  deployments/warp_routes/TIA/arbitrum-deploy.yaml
Due: prettier --write, eslint --fix

refactor: `TIA/arbitrum` (#1223)
  .changeset/smart-rules-happen.md
  deployments/warp_routes/TIA/arbitrum-config.yaml
  deployments/warp_routes/TIA/arbitrum-deploy.yaml
Due: prettier --write, eslint --fix

Use proxyAdmin ownerOverrides
  deployments/warp_routes/EZETH/renzo-prod-deploy.yaml
Due: prettier --write, eslint --fix

Remove proxyAdmin considering it is the same owner. Update correct protocolFee
  deployments/warp_routes/PZETH/berachain-ethereum-swell-unichain-zircuit-deploy.yaml
Due: prettier --write, eslint --fix

Add CS
  .changeset/hungry-pots-hear.md
Due: prettier --write

Update protocolFee for pzeth staging
  deployments/warp_routes/PZETHSTAGE/berachain-ethereum-swell-unichain-zircuit-deploy.yaml
Due: prettier --write, eslint --fix

chore: Sync Renzo configs with Getters (#1224)
  .changeset/hungry-pots-hear.md
  deployments/warp_routes/EZETH/renzo-prod-deploy.yaml
  deployments/warp_routes/PZETH/berachain-ethereum-swell-unichain-zircuit-deploy.yaml
  deployments/warp_routes/PZETHSTAGE/berachain-ethereum-swell-unichain-zircuit-deploy.yaml
Due: prettier --write, eslint --fix

chore: enroll solana
  deployments/warp_routes/LITKEY/litchain-config.yaml
Due: prettier --write, eslint --fix

Deploy Everclear ETH warp route
  deployments/warp_routes/ETH/mainnet-everclear-config.yaml
  deployments/warp_routes/ETH/mainnet-everclear-deploy.yaml
Due: prettier --write, eslint --fix

feat(ci): workflow to auto-update hyperlane deps
  .changeset/three-donuts-fail.md
  .github/workflows/update-hyperlane-deps.yml
  scripts/check-warp-deploy.sh
Due: prettier --write

Update .github/workflows/update-hyperlane-deps.yml
  .github/workflows/update-hyperlane-deps.yml
Due: none

remove changeset
  .changeset/three-donuts-fail.md
Due: prettier --write

feat(ci): workflow to auto-update hyperlane deps (#1226)
  .github/workflows/update-hyperlane-deps.yml
  scripts/check-warp-deploy.sh
Due: none

Add ethereum rebalancing config + add ethereum bridge to Arb,Base
  deployments/warp_routes/USDC/eclipsemainnet-deploy.yaml
Due: prettier --write, eslint --fix

Use `EvmHypNative` type
  deployments/warp_routes/ETH/mainnet-everclear-config.yaml
Due: prettier --write, eslint --fix

feat(mUSD): add bsc <-> linea route
  deployments/warp_routes/mUSD/musd-config.yaml
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((((any of: *.js) or (any of: *.ts)) or (any of: *.md)) or (any of: *.json)) or (any of: *.yaml)
  eslint --fix: any of: *.yaml
